{% extends 'base.html.twig' %}

{% block description %}
    <title>Markets.com| Markets.com Full 2018 Review - TradingCompare</title>
    <meta name="description" content="Markets.com, which is listed as a public company on the London Stock Exchange, initially started out as GFC Markets in 2010. It is an online brokerage firm for trading forex and CFDs. Markets.com is operated by Safecap which is a subsidiary of Playtech PLC. Markets.com has more than 5 million accounts currently and 13 million trades have been placed on the platform.">
{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/compiled-review.min.css') }}" >
    <p class="table">
        <div class="chart_search ">
            <div class="container">
    <p class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 ">
            <div class="review_top-brandn">
                <div class="review_top-brandna_left">
                    <div class="review_top-brandna_left_relative">
                        <img class="review_top-brandn_img" src='{{asset("img/broker-logos/review-markets-logo.png")}}' alt="market.com">
                        <h2 class="review_topreview_top-brandn_title ">Market.com Review</h2>
                        <div class="progress-bar-conatiner sm-none">
                            <canvas class="progress-bar-rel" id="canvas" width="100" height="100"></canvas>
    <p class="progress-bar_number">9</p>
    </div>
    </div>
    </div>
    <div class="review_top-brandna_right">
        <a class="review_visit-btn" href="http://borthy-carges.com/160f951f-f018-4bfa-9243-5db435fdb3fe" target="_blank">VISIT SITE
        </a>
        <p class="review_deposit">$100 <span class="review_deposit_normal">Min Deposit</span></p>
        <p class="review_deposit">Free 10k Demo Account</p>
    </div>
    </div>
    </div>


    <p class="review_top-text review_margin-top">&nbsp; &nbsp; &nbsp;Markets.com, which is listed as a public company on the London Stock Exchange, initially started out
        as GFC Markets in 2010. It is an online brokerage firm for trading forex and CFDs. Markets.com is operated by Safecap
        which is a subsidiary of Playtech PLC. Playtech is traded on the London Stock Exchange's and is a part of the FTSE 250
        Index. </p>
    <p class="review_top-text review_margin-top">Markets.com has more than 5 million accounts currently and 13 million trades have been placed on the platform. In 2017, total
        amount of trading value exceeded $185 billion mark. Right now, Markets.com is offering 5 distinct asset classes to trade
        in CFDs including forex, commodities, shares, indices and cryptocurrencies. You can trade more than 200 financial instruments
        on Markets.com.
    </p>

    <div class="review_general-container-img ">
        <img class="review_top-brandn_img" src='{{asset("img/Reviews/Markets/market-com-review.PNG")}}' alt="market-com-review">
    </div>

    <h2 class="review_top-title review_margin-top">Security and Privacy
    </h2>
    <p class="review_top-text review_margin-top">Markets.com possesses the license and authorization to carry out its operations in South Africa and Europe. The online platform
        can operate under Cyprus Security Exchange Commission (CySEC) and is authorized to conduct its activities within European
        Economic Zone under CIF (Cyprus Investment Firm) license. While in South Africa, Financial Services Board (FSB) acts
        as a regulator of Markets.com.
    </p>
    <p class="review_top-text review_margin-top">The trading platform carries out all of its operations in compliance of all regulations and conditions including maintaining
        enough liquidity to discharge all its contractual liabilities at any time. As CySEC's regulated broker, Markets.com's
        traders are protected by the Investors Compensation Fund Scheme.</p>
    <p class="review_top-text review_margin-top">Markets.com employs a range of advanced technical and physical safeguards. Moreover, the trading platform has also installed
        firewalls and uses Secure Socket Layer (SSL) technology to ensure there's no interference from malicious elements and
        users' data isn't compromised.</p>
    <h2 class="review_top-title review_margin-top">Markets.com Trading Features
    </h2>
    <p class="review_top-text review_margin-top">There are two types of trading platforms on Markets.com. One of the platform is proprietary bearing the name Markets WebTrader
        while the other is MetaTrader 4 (MT4).
    </p>

    <div class="review_general-container-img ">
        <img class="review_top-brandn_img" src='{{asset("img/Reviews/Markets/market-com platforms.PNG")}}' alt="market-com platforms">
    </div>
    <h2 class="review_top-title review_margin-top">Markets WebTrader
    </h2>
    <p class="review_top-text review_margin-top">Markets.com's WebTrader was intended for the individuals who need to trade quickly without downloading or installing any
        application on their device. With easy to understand interface and premium diagramming bundle, you can enhance the quantity
        of your profitable trades. The platform likewise comes coordinated with a substantial number of specialized indicators
        which you can overlay onto your trading diagrams to give you a superior viewpoint of the business sectors. It utilizes
        trading cubes to show current pricing, to empower you to get the better picture of the market. </p>
    <h2 class="review_top-title review_margin-top">MetaTrader 4
    </h2>
    <p class="review_top-text review_margin-top">Market.com's MT4 is the most prominent internet trading platform in the business. It has been very warmly received by an
        overwhelming majority of the industry brokers. To make it convenient for traders who lean toward a more well-known platform,
        Markets.com has additionally made this mainstream platform accessible to its brokers. The platform accompanies a wide
        range of tools and features such as the capacity to provide assistance in automatic trading.
        <b> Trading Markets on Markets.com </b>
    </p>
    <p class="review_top-text review_margin-top">
        <a href="https://www.markets.com/cfds/instruments#currencies" target="_blank">Forex</a> - Currency exchanging known as the forex trade presently surpasses $7 billion every day. You can profit by
        moves of monetary forms from around the world. You can trade a wide of range of global currencies including Euro, Yen,
        Ruble, Koruna and more.
    </p>
    <p class="review_top-text review_margin-top">
    <ul class="review_top-text review_margin-top">
        <li>You can trade major, minor and exotic currencies on Markets.com.</li>
        <li>Major currency pairs include AUD/USD, EUR/USD, GBP/USD, NZD/USD, USD/CAD, USD/CHF and USD/JPY. </li>
        <li>Lowest spread on major currency ranges between 2.00 pips to 4.00 pips depending on the pair.
        </li>
        <li>Minor currency pairs include AUD/CAD, AUD/CHF, AUD/JPY, AUD/NZD, CAD/CHF, CAD/JPY, CHF/JPY, EUR/AUD, EUR/CAD, EUR/CHF,
            EUR/GBP, EUR/JPY, EUR/NOK, EUR/NZD, EUR/SEK, GBP/AUD, GBP/CAD, GBP/CHF, GBP/JPY, GBP/NZD, GBP/SGD, NZD/CAD, NZD/CHF,
            NZD/JPY, USD/DKK, USD/NOK, USD/SEK and USD/SGD. </li>
        <li>Lowest spread on minor currency ranges between 4.00 pips to 100.00 pips depending on the pair.</li>
        <li>Exotic currency pairs include CHF/PLN, EUR/CZK, EUR/HUF, EUR/PLN, EUR/RON, EUR/RUB, EUR/TRY, GBP/RON, GBP/TRY, USD/BRL,
            USD/CNH, USD/CZK, USD/HUF, USD/INR, USD/MXN, USD/PLN, USD/RON, USD/RUB, USD/TRY and USD/ZAR. </li>
        <li>Lowest spread on exotic currency ranges between 1.00 pips to 250.00 pips depending on the pair.</li>
    </ul>
    </p>

    <div class="review_general-container-img ">
        <img class="review_top-brandn_img" src='{{asset("img/Reviews/Markets/market-com-forex.PNG")}}' alt="market-com-forex">
    </div>
    <p class="review_top-text review_margin-top">
        <a href="https://www.markets.com/cfds/instruments#metal" target="_blank">Metal </a>- Precious metals, for example, gold and silver have been exchanged for hundreds of years. You can exchange
        both valuable metals and modern metals like copper and aluminum. Metals are utilized to ensure against price inflation
        and as protective systems.</p>
    <p class="review_top-text review_margin-top">
    <ul class="review_top-text review_margin-top">
        <li>On Markets.com, traders can invest in 7 different precious metals.
        </li>
        <li>These metals include Aluminium, Copper, Gold, Palladium, Platinum, Silver and Zinc.
        </li>
        <li>Spread on trade is very tight and ranges between 0.0055 USD and 10.00 USD depending on the metal you are trading.</li>
        <li>Leverage starts from 1:10 and can go up to 1:200.
        </li>

    </ul>
    </p>
    <p class="review_top-text review_margin-top">
        <a href="https://www.markets.com/cfds/instruments#energy" target="_blank">Energy </a>– On markets.com, you can exchange Brent oil, Crude oil and also petroleum gas and heating oil. The energy
        market reacts rapidly to worldwide events and offers numerous chances to brokers.</p>
    <p class="review_top-text review_margin-top">
    <ul class="review_top-text review_margin-top">
        <li>In energy sector trading, Markets.com brings 4 most popular options to choose from.
        </li>
        <li>These options include Brent Oil, Heating Oil, Natural Gas and Crude Oil.
        </li>
        <li>For Brent Oil leverage can go up to 1:152 with minimum spread of 0.04 USD
        </li>
        <li>For Heating Oil leverage can go up to 1:152 with minimum spread of 0.0020 USD
        </li>
        <li>For Natural Gas leverage can go up to 1:100 with minimum spread of 0.003 USD
        </li>
        <li>For Crude Oil leverage can go up to 1:152 with minimum spread of 0.03 USD
        </li>
    </ul>
    </p>
    <p class="review_top-text review_margin-top">
        <a href="https://www.markets.com/cfds/instruments#index" target="_blank">Indices</a> - The estimation of an index is typically one offer of every one of the stocks that make up the category.
        An index enables you to profit by moves of a general part and in addition the stocks making up the index. Indices incorporate
        the S&P500, the Germany 30, the France 40 and additionally the NASDAQ and the FTSE 100. You can exchange an assortment
        of worldwide indices with Markets.com.
    </p>
    <p class="review_top-text review_margin-top">
    <ul class="review_top-text review_margin-top">
        <li>At Markets.com traders have 26 indices to invest in.
        </li>
        <li>These indices include Amsterdam 25, Australia 200, China 50, Dollar Index, Europe 50, France 40, Germany 30, Greece
            20, Hong Kong 45, India 50, Italy 40, Japan 225, Moscow 50, Msci Taiwan, Norway 25, Poland 20, South Africa 40,
            Spain 35, Sweden 30, Swiss 20, Tech 100, UK 100, USA 2000, USA 30, USA 500 and VIXX.</li>
        <li>Minimum spreads on indices trades can range between 0.05 USD and 20.00 USD.
        </li>
        <li>Leverage starts from 1:5 but can go as high as 1:200.
        </li>
    </ul>
    </p>
    <div class="review_general-container-img ">
        <img class="review_top-brandn_img" src='{{asset("img/Reviews/Markets/indices.PNG")}}' alt="indices">
    </div>
    <p class="review_top-text review_margin-top">
        <a href="https://www.markets.com/cfds/instruments#commodities" target="_blank">Commodities</a> - Most commodities are exchanged on the prospective market and require extensive capital and market learning
        as you have to choose a date later on that the advantages will climb or fall. Trading product based CFDs have disentangled
        the procedure and opened these resources for some brokers. You can trade many commodities on Markets.com.</p>
    <p class="review_top-text review_margin-top">
    <ul class="review_top-text review_margin-top">
        <li>On Markets.com, traders have the luxury of investing in 8 types of different commodities as well.
        </li>
        <li>These commodities include Cocoa, Coffee, Corn, Cotton, Rice, Soybean, Sugar and Wheat.</li>
        <li>Lowest spread amount starts from 0.04 for sugar and can go as high as 5.00 USD for Cocoa.
        </li>
        <li>Trades can be leveraged up to as high as 1:100 for all commodities with the exception or rice which can be leverage
            up to 1:50.</li>
    </ul>
    </p>
    <p class="review_top-text review_margin-top">
        <a href="https://www.markets.com/cfds/instruments#crypto" target="_blank">Cryptocurrencies </a>- The crypto market is the most recent of all, beginning in 2009 with the dispatch of bitcoin. Today
        there are near 1000 altcoins including from Ethereum to Bitcoin to Ripple. These advanced monetary standards are unpredictable
        and in this way offer extraordinary open doors. You can trade the most prominent coins with Markets.com including Bitcoin
        and Ethereum.</p>
    <p class="review_top-text review_margin-top">
    <ul class="review_top-text review_margin-top">
        <li>Markets.com enables traders to trade 6 different cryptocurrencies against USD.
        </li>
        <li>These include Bitcoin Cash, Bitcoin, Dash against USD, Ethereum against USD, Litecoin against USD and Ripple.</li>
        <li>Bitcoin Cash has a minimum spread of 15 USD while it can be leveraged up to 1:2.
        </li>
        <li>Bitcoin has a minimum spread of 140 USD while it can be leveraged up to 1:1.
        </li>
        <li>Dash has a minimum spread of 20 USD while it can be leveraged up to 1:5.
        </li>
        <li>Ethereum USD has a minimum spread of 15 USD while it can be leveraged up to 1:5.
        </li>
        <li>Litecoin USD has a minimum spread of 8 USD while it can be leveraged up to 1:5.
        </li>
        <li>Ripple has a minimum spread of 0.030 USD while it can be leveraged up to 1:5.
        </li>

    </ul>
    </p>
    <p class="review_top-text review_margin-top">
        <a href="https://www.markets.com/cfds/instruments#bonds" target="_blank">Bonds</a> - Bond are essentially debt notes issued by organizations or governments to raise capital. The estimation of
        a security is connected to the financing cost being offered versus key loaning rates and the credit value of the security
        guarantor. Markets.com offers the most well-known government securities for trading including US securities and notes.</p>
    <p class="review_top-text review_margin-top">
    <ul class="review_top-text review_margin-top">
        <li>All Bonds trades can be leverage to the maximum of 1:100.
        </li>
        <li>On Markets.com, there are 5 bond instruments traders can trade.
        </li>
        <li>These instruments include GER 10Y Bond, Gilt 10Y Bond, JPN 10Y Bond, US TBond 30Y and US TNote 10Y.</li>
        <li>GER 10Y Bond has a minimum spread of 0.06 EUR.
        </li>
        <li>Gilt 10Y Bond has a minimum spread of 0.06 GBP.
        </li>
        <li>JPN 10Y Bond has a minimum spread of 0.08 JPY.
        </li>
        <li>US TBond 30Y has a minimum spread of 0.07 USD.
        </li>
        <li>US TNote 10Y has a minimum spread of 0.06 USD.
        </li>

    </ul>
    </p>
    <div class="review_general-container-img ">
        <img class="review_top-brandn_img" src='{{asset("img/Reviews/Markets/bonds-markets-com.PNG")}}' alt="bonds-markets-com">
    </div>
    <p class="review_top-text review_margin-top">
        <a href="https://www.markets.com/cfds/instruments#bonds" target="_blank">Stocks </a>- Markets.com has a choice of the main stocks and public companies’ shares from around the world. You can
        without much of a stretch trade stocks through a CFD which enables you to benefit from market movements with littler
        venture capital. You can trade Spotify, Apple, Alibaba, PayPal, Amazon, Dropbox, Facebook and more on the Markets.com.
    </p>
    <p class="review_top-text review_margin-top">
    <ul class="review_top-text review_margin-top">
        <li>On Markets.com, traders can invest in stocks from 23 different countries.
        </li>
        <li>These countries include Australia, Austria, Belgium, Czech Republic, Denmark, Finland, France, Germany, Greece, Hong
            Kong, Italy, Japan, Netherlands, Norway, Poland, Portugal, Russia, South Africa, Spain, Sweden, Switzerland,
            UK and USA.</li>
        <li>Minimum spreads and leverages vary heavily with country and the stock.
        </li>

    </ul>
    </p>
    <p class="review_top-text review_margin-top">
        <a href="https://www.markets.com/cfds/instruments#etfs" target="_blank">ETFs</a> - ETFs or Trade Exchanged Assets are securities that track a container of assets like an index. ETFs are broadened
        bin of securities that give an alternative option for investment. On Markets.com, traders can invest in multiple ETFs
        to give stability to their portfolio. </p>
    <p class="review_top-text review_margin-top">
    <ul class="review_top-text review_margin-top">
        <li>When it comes to ETF trading, Markets.com offers 40 different instruments to traders to invest in.</li>
        <li>These instruments include ACWI, AGQ, China 300 ETF, DBC, DEM, DIA, DLN, EWT, EWY, FAS, FAZ, FXE, IDU, IWM, IWO, LIT,
            MDY, QID, QLD, SDS, SFY.AX, SLV, SPXU, SPY, SSO, TBT, TWM, TZA, USO, VTI, XLB, XLE, XLF, XLI, XLK, XLU, XLV and
            XLY.</li>
        <li>The minimum spread amount ranges between 0.03 USD to 0.35 USD.
        </li>
        <li>Trades for most instruments can be leveraged up to 1:33 with the exception of USO whose leverage can go as high as
            1:100.</li>

    </ul>
    </p>
    <h2 class="review_top-title review_margin-top">Account Types
    </h2>
    <p class="review_top-text review_margin-top">Markets.com offers you 3 distinct types of accounts for different purposes. These accounts involve the Mini, Standard, and
        VIP accounts. In order to open a Mini Account, you must have $100 of minimum deposit while for the standard account,
        you need to deposit at least $2500. Predictably, VIP account is the most expensive trading account demanding you to deposit
        $20,000. Moreover, there is an Islamic trading account present as well for the individuals who wish to trade forex and
        CFDs as per Islamic Shariah standards.</p>
    <p class="review_top-text review_margin-top">With your account you get 24 hour customer care, detailed market analysis complete with charts and statistics, and unrestricted
        access to educational seminars. Apart from that you get an account manager to deal with your account and smooth out any
        issues if necessary. Most imperative of all, Markets.com offers a free demo account which you can use to experiment with
        the trades given by the broker without risking any cash. As the demo account is boundless, this implies you can utilize
        the demo account to test your trading and financial observation skills. </p>
    <h2 class="review_top-title review_margin-top">Deposits and Withdrawals
    </h2>
    <p class="review_top-text review_margin-top">The 8 year old brokerage firm is profoundly adaptable in relation to account deposits. The firm acknowledges credit or check
        card exchanges by means of Visa, MasterCard and Diners' Club, alongside wire exchanges for the two stores and withdrawals,
        and is additionally open to different local currency transfer choices, subject to discourse between the customer and
        the firm. Broker doesn’t charge any fee amid the deposit or withdrawal process and focuses on repaying the customer for
        any charges brought about to the financial institution in deposits that surpass the $2,500. </p>
    <p class="review_top-text review_margin-top">The withdrawal procedure is started right after a withdrawal request by the trader. Withdrawals are handled inside 3 days.
        Funds can be deposited and withdrawn using multiple transfer methods including credit cards, debit cards, bank transfer
        and eWallets such as Skrill. Additionally, you can also fund your trades using eKonto, Fast Bank Transfers, Sofort, Ideal
        and Giropay.</p>
    <h2 class="review_top-title review_margin-top">Device Compatibility and Ease of Use
    </h2>
    <p class="review_top-text review_margin-top">Markets.com is available on both Google Play and App Store so users can engage in their trading activity when mobile. Trading
        can also be done through website access on Windows and MacOS devices.</p>
    <p class="review_top-text review_margin-top">In terms of user friendliness, Markets.com is easy to use but the platform is designed and aimed primarily at professional
        traders so it might be a little confusing and intimidating for first timers.</p>
    <h2 class="review_top-title review_margin-top">Fee and Charges</h2>
    <p class="review_top-text review_margin-top">When you are planning to make money through online trading of assets, you need to ensure the broker isn't taking a huge pie
        out of your profits. Fortunately, Markets.com doesn't take any commission but tight spreads on every trade are charged.</p>
    <h2 class="review_top-title review_margin-top">Customer Care</h2>
    <p class="review_top-text review_margin-top">Customer care offered by Markets.com is supportive and responsive. If you are facing an issue during signing up or making
        a trade, you can reach out to the customer care and expect them to get back to you in no time. Your issue will be addressed
        through resourceful service provided by competent personnel.</p>
    <h2 class="review_top-title review_margin-top">Conclusion
    </h2>
    <p class="review_top-text review_margin-top">Markets.com is the market leader in trading industry and millions of traders rely on the platform to engage in their trading
        activity. With professional and feature rich trading software that enables users to observe all types of stats and charts,
        Markets.com puts investors in a much more knowledgeable position to make informed decisions.
    </p>



    <p class="review_tags">TAGS: MARKET.COM, BROKERS, CRYPTO</p>
    <p class="review_share"><i class="fas fa-share"></i></p>
    <div class="review_cont-bottom-btn">
        <a class="review_visit-btn" href="http://borthy-carges.com/160f951f-f018-4bfa-9243-5db435fdb3fe" target="_blank">VISIT SITE
        </a>
    </div>
    </div>
    </div>
    </div>

    <div class="general-chart">
        <div class="container">
            <div class="row">
                <div class="review_top-brandn">
                    <h2 class="review_topreview_top-brandn_title">More Forex Broker Reviews</h2>
                </div>
                <div class="review_collection">
                    <div class="review_collection_margin">
                        <div class="review_collection_block">
                            <div class="review_collection_block_top">
                                <img class="review_collection_block_logo" src='{{asset("img/circle-logo/24 circle.png")}}' alt="24option">
                                <p class="review_collection_block_title">24 Options</p>
                                <div class="review_collection_block_progress-bar">
                                    <canvas class="progress-bar-rel review_collection_block_progress-bar-rel" id="canvas3" width="70" height="70"></canvas>
                                    <p class="progress-bar_number" >9.5</p>
                                </div>
                            </div>
                            <div class="review_list-cont sm-none">
                                <a href="{{path('24option') }}">
                                <p class="features-text"><span class="check-marks"><i class="fas fa-check"></i></span>  Social Trading lets you copy others</p>
                                <p class="features-text"><span class="check-marks"><i class="fas fa-check"></i></span>  Competitive Trading Fees</p>
                                <p class="features-text"><span class="check-marks"><i class="fas fa-check"></i></span>  Used by 6,000,000+ Traders</p>
                                </a>
                            </div>
                            <a class="review_collection_visit-btn" href="http://borthy-carges.com/9ac28959-def2-4c75-ae80-54eb7149674a" target="_blank">VISIT SITE</a>
                        </div>
                        <div class="review_collection_block">
                            <div class="review_collection_block_top">
                                <img class="review_collection_block_logo" src='{{asset("img/circle-logo/plus 500 circle.png")}}' alt="plus500">
                                <p class="review_collection_block_title">Plus 500</p>
                                <div class="review_collection_block_progress-bar">
                                    <canvas class="progress-bar-rel review_collection_block_progress-bar-rel" id="canvas4" width="70" height="70"></canvas>
                                    <p class="progress-bar_number">8.6</p>
                                </div>
                            </div>
                            <div class="review_list-cont sm-none">
                                <a href="{{ path('plus500') }}">
                                <p class="features-text"><span class="check-marks"><i class="fas fa-check"></i></span>  Trade CFDs on Popular Cryptocurrencies</p>
                                <p class="features-text"><span class="check-marks"><i class="fas fa-check"></i></span>  FREE Trading Signals for Limited time</p>
                                <p class="features-text"><span class="check-marks"><i class="fas fa-check"></i></span>  Access all Financial Markets in one place</p>
                                </a>
                            </div>
                            <a class="review_collection_visit-btn" href="http://borthy-carges.com/f8785515-d4f8-461f-a319-f861734c8662" target="_blank">VISIT SITE</a>
                        </div>
                        <div class="review_collection_block sm-none">
                            <div class="review_collection_block_top">
                                <img class="review_collection_block_logo" src='{{asset("img/circle-logo/alvexo.png")}}' alt="alvexo">
                                <p class="review_collection_block_title">Alxevo</p>
                                <div class="review_collection_block_progress-bar">
                                    <canvas class="progress-bar-rel review_collection_block_progress-bar-rel" id="canvas5" width="70" height="70"></canvas>
                                    <p class="progress-bar_number">8.6</p>
                                </div>
                            </div>
                            <div class="review_list-cont sm-none">
                                <a href="{{ path('alvexo') }}">
                                <p class="features-text"><span class="check-marks"><i class="fas fa-check"></i></span>  Demo and Islamic Account Offered</p>
                                <p class="features-text"><span class="check-marks"><i class="fas fa-check"></i></span>  Regulated Broker</p>
                                <p class="features-text"><span class="check-marks"><i class="fas fa-check"></i></span>  Comprehensive Trading Tools</p>
                                </a>
                            </div>
                            <a class="review_collection_visit-btn" href="http://borthy-carges.com/7f38eacd-c5d3-4680-9085-46708b0f92e2" target="_blank">VISIT SITE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock %}

{% block javascripts %}

    <script>
        function loadCSS(hf) {
            var ms = document.createElement("link");
            ms.rel = "stylesheet";
            ms.href = hf;
            document.getElementsByTagName("head")[0].appendChild(ms);
        }

        loadCSS('{{asset("css/footer.css")}}');
        loadCSS('{{ asset("font/font_avenir.css")}}');
        loadCSS('{{ asset("css/compiled-review.min.css")}}')
        loadCSS("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
        loadCSS("https://fonts.googleapis.com/css?family=Hind+Siliguri:300,400,500,600,700");
        loadCSS("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
        // loadCSS("css/comment.css")

        //User Styles: Main
        //User Styles: Media
    </script>

    <!-- Load CSS compiled without Bootstrap & Header styles (after release) -->
    <script>var ms = document.createElement("link");
        ms.rel = "stylesheet";
        ms.href = '{{ asset("css/compiled.min.css")}}';
        document.getElementsByTagName("head")[0].appendChild(ms);
    </script>

    <!-- Load Scripts -->
    <script>var scr = {
            "scripts": [
                {"src": '{{ asset("js/jquery-3.3.1.min.js")}}', "async": false},
                {"src": '{{ asset("js/plugin.js")}}', "async": false},
                {"src": '{{ asset("js/general.js")}}', "async": false},
                {"src": '{{ asset("js/common.js")}}', "async": false},
                {"src": "https://use.fontawesome.com/releases/v5.0.10/js/all.js", "async": false},

            ]
        };
        !function (t, n, r) {
            "use strict";
            var c = function (t) {
                if ("[object Array]" !== Object.prototype.toString.call(t)) return !1;
                for (var r = 0; r < t.length; r++) {
                    var c = n.createElement("script"), e = t[r];
                    c.src = e.src, c.async = e.async, n.body.appendChild(c)
                }
                return !0
            };
            t.addEventListener ? t.addEventListener("load", function () {
                c(r.scripts);
            }, !1) : t.attachEvent ? t.attachEvent("onload", function () {
                c(r.scripts)
            }) : t.onload = function () {
                c(r.scripts)
            }
        }(window, document, scr);
    </script>

{% endblock %}