



{% extends 'test.html.twig' %}

 {% block description %}
     <title>Forex Market Quotes & Social sentiment</title>
     <meta name="description" content="Tradingcompare.com offers free real-time quotes, portfolio, streaming charts, financial news, live stock market data  sentiment from millions of users, a social effect to take your  decisions">
 {% endblock %}


{% block body %}

    {#<div  ng-app="LiveFeedsApp" ng-controller="WebsocketStateCtrl"    >#}
    {#</div>#}
    <div id="dvThird">
        <div ng-controller="ThirdController ">
            <div  ng-init="init('{{ api }}', '{{ img }} ',' {{ chart_link }}')" >

                {{ include('LiveFeedBundle:Default:baseS.html.twig', {chart_link: chart_link}) }}
            </div>



        </div>
    </div>



    {#<div  ng-app="LiveFeedsApp" ng-controller="ForexFeedsController"   ng-init="init('{{ api }}', '{{ img }} ',' {{ chart_link }}')" >#}
        {#{{ include('LiveFeedBundle:Default:baseS.html.twig', {chart_link: chart_link}) }}#}
    {#</div>#}

    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.js"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-sortable/0.15.0/sortable.min.js"></script>#}
    {#<script data-require="angular.js@*" data-semver="1.3.7" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.7/angular.js"></script>#}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/ForexFeeds.js') }}"></script>

{% endblock %}