<div ng-app="searchapp">

    <style>
        .img_search { border-radius: 50%; }
        .dropdown-menu{ width: 76% !important;}
        @media (max-width: 1024px) {.dropdown-menu{ width:71% !important;}  }
        @media (max-width: 768px) {.dropdown-menu{ width:63% !important;}  }
        @media (max-width: 414px) {.dropdown-menu{ width:90% !important;}  }
    .typeahead-group-header { padding: 3px 20px; background-color: #1e375e; border-bottom: 1px solid   #1e375e; font-weight: bold; color: white; }
    .dropdown-menu>li>a    {front-wight:500px!important; line-height: 2 !important;    }
    .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus  { background-color: #eaeaea!important;color:black!important; }
    .responsive_view{   width: 80%; overflow: hidden; text-overflow: ellipsis; position: absolute;}
    .search_bar{width: 100%;display: table; background-color: white;}
    .search_bar {padding: 10px 0; border-top:solid 15px #f2f5f3 ;}
    </style>

    <script type="text/ng-template" id="typeahead-item.html">
        <div class="typeahead-group-header" ng-if="match.model.firstInGroup"> {[{match.model.group}]}</div>
        <a>
            <img class="img_search" ng-src='{{"{[{match.model.img}]}"}}' width="30" border-radius="50%" onerror="this.src='/img/Stock_Logos/stocks.png'";>

            <span class="responsive_view" ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
        </a>
    </script>

    {#border-top-color: #f2f5f3;border-top-width: 15px;border-top-style: solid;#}
    <div class='' ng-controller="TypeaheadCtrl" style="">
        <div class="search_bar margin_bottom">
            <div class="container">
                <div class="row">
                    <div class="reviec_cont-sezrch typeahead-demo">
                        <div class="reviec_cont-sezrch_right">
                            <div class="watchlist-cont">
                                <a id="all" class="watchlist-cont_all all watchlist-cont_all_active">{{ 'searchbar_all'|trans }}</a>
                                <a id="watchlist" class="watchlist-cont_all watchlist">{{ 'searchbar_watchlist'|trans }}</a>
                            </div>
                            <div class="watchlist-cont watchlist-cont_right">
                                <a id="list" class="watchlist-cont_all list" ><i class="fas fa-list"></i></a>
                                <a id="grid" class="watchlist-cont_all watchlist-cont_all_active grid"><i class="fas fa-th"></i></a>
                            </div>
                        </div>
                        <input class="search_input" type="text" class="form-control search_input"
                               placeholder="{{ 'search_instruments'|trans }}"
                               ng-model="selectedUser"
                               uib-typeahead="user as user.Name for user in getUsers($viewValue) "
                               typeahead-template-url="typeahead-item.html" class="form-control"
                               typeahead-on-select="onSelect($item, $model, $label)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <script src="{{ asset('js/search_bar.js') }}"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/compiled-feeds.css') }}" >

    <script data-require="lodash.js@*" data-semver="2.4.1" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>

