<!DOCTYPE html>
<html>

<head>
    <script data-require="angular.js@*" data-semver="1.3.7" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.7/angular.js"></script>

</head>
<style>
    .negative{color:red;}
    .positive{color:#9CD400;}
</style>

<body>

<div id="dvSecond">
    <div ng-controller="SecondController ">


        <div  ng-init="init('{{ api }}','{{ img }}',' {{ chart_link }}')" >

            {{ include('LiveFeedBundle:Default:baseS.html.twig' , {chart_link: chart_link}) }}
        </div>



    </div>
</div>


{#<div id="dvFirst">#}
    {#<div ng-controller="FirstController">#}
        {#<p> {[{ desc1 }]}</p>#}
        {#<div ng-init="init('{{ api }}','{{ first }}','{{ img }}',' {{ chart_link }}')">{[{crypto1}]}</div>#}

        {#<p class="statistics_block_top-text">{[{crypto1.fromSymbol}]}/{[{crypto1.toSymbol}]} <span class="statistics_block_number"> {[{crypto1.price}]}</span></p>#}
    {#</div>#}
{#</div>#}

{#<div id="dvSecond">#}
    {#<div ng-controller="SecondController ">#}
        {#<p> {[{ desc2 }]}</p>#}

        {#<div  ng-init="init('{{ api }}','{{ first }}','{{ img }}',' {{ chart_link }}')" >#}

            {#{{ include('LiveFeedBundle:Default:baseS.html.twig' , {chart_link: chart_link}) }}#}
        {#</div>#}



    {#</div>#}
{#</div>#}


{#<div   id="dvFirst" >#}
    {#<div ng-controller = "FirstController">#}
        {#<p> {[{ desc1 }]}</p>#}
        {#<div class="row">#}

            {#<div class="statistics_block" >#}

                {#<p class="statistics_block_top-text">{[{crypto1.fromSymbol}]}/{[{crypto1.toSymbol}]} <span class="statistics_block_number"> {[{crypto1.price}]}</span></p>#}
                {#<p class="statistics_block_green-text" ng-class="{'negative': crypto1.change24 < 0, 'positive': crypto1.change24 >= 0}">{[{crypto1.change24}]}% <span class="statistics_block_min-text">{[{crypto1.point}]}</span></p>#}

            {#</div>#}

        {#</div>#}
    {#</div>#}
{#</div>#}

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-sortable/0.15.0/sortable.min.js"></script>
<script src="{{ asset('js/bar.js') }}"></script>
<script src="{{ asset('js/CryptoFeeds.js') }}"></script>
<script>


    // var demo = angular.module('SecondController', []).config(function ($interpolateProvider) {
    //     $interpolateProvider.startSymbol('{[{').endSymbol('}]}');}

    // var firstApp = angular.module('firstApp', []).config(function ($interpolateProvider) {
    //     $interpolateProvider.startSymbol('{[{').endSymbol('}]}');})
    //
    // firstApp.controller('FirstController', function($scope) {
    //     $scope.desc1 = "First app. ";
    //     //$scope.api = "https://crypto-ws.herokuapp.com/All-Froms-and-Prices"
    //     //$scope.first = "BTC"
    //     $scope.allcrypto = []
    //     $scope.init = function (api, first, img, chart_link) {
    //         console.log("api_crypto", api,  first)
    //         $.ajax({
    //             url: api,
    //             type: "GET",
    //             success: function (result) {
    //                 $scope.allcrypto = result
    //                 console.log("Response1", $scope.allcrypto)
    //                 for (i = 0; i < result.length; i++) {
    //
    //                     if (result[i].fromSymbol ==  first) {
    //                         $scope.crypto1 = result[i]
    //                     }
    //
    //                 }
    //
    //                 $scope.$apply()
    //             },
    //             error: function (xhr, ajaxOptions, thrownError) {
    //                 console.log("ERROR", thrownError, xhr, ajaxOptions)
    //             }
    //         });
    //     }
    // });

    //
    // var secondApp = angular.module('secondApp', []).config(function ($interpolateProvider) {
    //     $interpolateProvider.startSymbol('{[{').endSymbol('}]}');})
    //
    // secondApp.controller('SecondController', function($scope) {
    //     $scope.desc2 = "Second app. ";
    //
    //     $scope.all = []
    //     $scope.all1 = []
    //     $scope.allimg = {}
    //     $scope.allimg1 = []
    //
    //     var i = 0
    //     $scope.init = function (api, first, img, chart_link) {
    //         console.log("api", api, "chart_link",chart_link)
    //         $.ajax({
    //             url: api,
    //             type: "GET",
    //             success: function (result) {
    //
    //                 $scope.all1 = result
    //
    //                 for (key in $scope.all1) {
    //                     if (i < 101) {
    //                         $scope.all1[key].fromSymbol = $scope.all1[key].fromSymbol.slice(0, 3) + "/" + $scope.all1[key].fromSymbol.slice(3, 6)
    //
    //                         $scope.all.push($scope.all1[key])
    //                         i++
    //                     }
    //                     else break;
    //                 }
    //                 console.log("Response-forex", $scope.all)
    //
    //                 $scope.$apply()
    //             },
    //             error: function (xhr, ajaxOptions, thrownError) {
    //                 console.log("ERROR", thrownError, xhr, ajaxOptions)
    //             }
    //         });
    //
    //         console.log("img", img)
    //
    //     }
    //
    // });
    //
    // var dvFirst = document.getElementById('dvFirst');
    // var dvSecond = document.getElementById('dvSecond');
    //
    // angular.element(document).ready(function() {
    //
    //     angular.bootstrap(dvFirst, ['firstApp']);
    //     angular.bootstrap(dvSecond, ['secondApp']);
    // });






</script>
</body>

</html>



{#{% extends 'test.html.twig' %}#}
{#{% block body %}#}
    {#<div  ng-app="LiveFeedsApp" ng-controller="testAngularController"   ng-init="init('{{ api }}')" >#}

        {#helloooooooo {{ api }}#}
    {#</div>#}
{#<div  id="dvSecond"  ng-app="LiveFeedsApp" ng-controller="testAngularController"   ng-init="init('{{ api }}','{{ img }}',' {{ chart_link }}')" >#}
    {#ng-app="LiveFeedsApp"#}
    {#{{ include('LiveFeedBundle:Default:baseS.html.twig' , {chart_link: chart_link}) }}#}
{#</div>#}


{#<script src="{{ asset('js/testAngular.js') }}"></script>#}
{#{% endblock %}#}
{#{% block javascripts %}#}
{#{{ parent() }}#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-sortable/0.15.0/sortable.min.js"></script>#}
{#<script data-require="angular.js@*" data-semver="1.3.7" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.7/angular.js"></script>#}
    {#<script src="{{ asset('js/testAngular.js') }}"></script>#}
{#{% endblock %}#}