<div class="my-modal modal_sigh-up">
    <div class="modal_scroll">
        <div class="my-modal_cont-left">
            <img class="my-modal_cont-left_img" src='{{asset("img/signin/bg_sign_up.png")}}' alt="bg_sign_up">
            <a href="http://trading.venhrun.com" class="logo-text modal_header-left">
                <img src='{{asset("img/logo_white.png")}}' class="top-logo " alt="logo">
            </a>
            <div class="modal_left-content">
                <h1 class="modal_heder">Sign Up</h1>
                <div class="modal-cont-text ms-none">
                    <div class="modal_check-marks">
                        <p><i class="fas fa-check"></i></p>
                    </div>
                    <p class="modal-text">Join the exciting market of real time Commission Free Trading</p>
                </div>
                <div class="modal-cont-text ms-none">
                    <div class="modal_check-marks">
                        <p><i class="fas fa-check"></i></p>
                    </div>
                    <p class="modal-text">Join the exciting market of real time Commission Free Trading</p>
                </div>
                <div class="modal-cont-text ms-none">
                    <div class="modal_check-marks">
                        <p><i class="fas fa-check"></i></p>
                    </div>
                    <p class="modal-text">Boost your trading account with exclusive bonuses</p>
                </div>
                <div class="modal-cont-text ms-none">
                    <div class="modal_check-marks">
                        <p><i class="fas fa-check"></i></p>
                    </div>
                    <p class="modal-text">Create a watchlist and view our Free Live feed and Charts</p>
                </div>
                <div class="modal-cont-text ms-none">
                    <div class="modal_check-marks">
                        <p><i class="fas fa-check"></i></p>
                    </div>
                    <p class="modal-text">24 hour support in multiple languages</p>
                </div>
                <div class="modal-cont-text ms-none">
                    <div class="modal_check-marks">
                        <p><i class="fas fa-check"></i></p>
                    </div>
                    <p class="modal-text">Dedicated Account Managers</p>
                </div>
            </div>
        </div>
        <div class="my-modal_cont-right">

            <a class="close_modal" href="" ng-click="reset(form)"><i class="fas fa-plus"></i></a>
            <div class="modal_right-content">


                <form name="form" class="css-form form-card" novalidate>

                    {#*** NAME#}
                    <div class="form-element form-input">
                        <input  class="form-element-input" placeholder=" " autocomplete="off" ng-model="user.full_name" type="text" name="uName" required=""/>
                        <div class="form-element-bar"></div>
                        <label class="form-element-label" >FULL NAME</label>
                    </div>
                    {#*** SHOW NAME#}
                    <div style="color:red" ng-show="form.$submitted || form.uName.$touched">
                        <div ng-show="form.uName.$error.required">*You must enter your Name</div>
                    </div>

                    {#*** NICK-NAME#}
                    <div class="form-element form-input">
                        <input  class="form-element-input" placeholder=" " autocomplete="off" ng-model="user.nickname" type="text" name="uNickname" required=""/>
                        <div class="form-element-bar"></div>
                        <label class="form-element-label" >NICKNAME</label>
                    </div>
                    {#*** SHOW NICKNAME#}
                    <div style="color:red" ng-show="form.$submitted || form.uNickname.$touched">
                        <div ng-show="form.uNickname.$error.required">*Please choose a nickname</div>
                    </div>
                    <div style="color:red" ng-show="already_exist">*Nickname already used, please choose another one </div>


                    {#*** EMAIL#}
                    <div class="form-element form-input">
                        <input  class="form-element-input" placeholder=" " type="email" autocomplete="off" ng-model="user.email" name="uEmail" required=""/>
                        <div class="form-element-bar"></div>
                        <label class="form-element-label" >EMAIL</label>
                    </div>
                    {#*** SHOW EMAIL#}
                    <div style="color:red" ng-show="form.$submitted || form.uEmail.$touched">
                        <span ng-show="form.uEmail.$error.required">*You must enter an Email</span>
                        <span ng-show="form.uEmail.$error.email">*Invalid email address</span>
                    </div>

                    {#*** PASSWORD#}
                    <div class="form-element form-input">
                        <input  class="form-element-input form-element-input_password" placeholder=" " ng-model="user.password" autocomplete="off"
                                ng-minlength="6" type="password"  name="uPassword" required=""/>
                        <div class="form-element-bar"></div>
                        <label class="form-element-label" >PASSWORD</label>
                    </div>
                    {#*** SHOW PASSWORD#}
                    <div style="color:red" ng-show="form.$submitted || form.uPassword.$touched">
                        <span ng-show="form.uPassword.$error.required">*Please choose a Password</span>
                        <span class="error" ng-show="form.uPassword.$error.minlength">*Password must be minimum 6 characters</span>
                    </div>

                    {#*** COUNTRY#}
                    <div class="form-element form-input" ng-model="user.country" name="uCountry" required="">
                        <div class="country_cont" style="cursor: pointer">

                            <a href="#" class="country" >
                                <input id="input_country" class="form-element-input" autocomplete="off" placeholder="" type="text" ng-model="user.country" name="uCountry"
                                       required=""/>
                            </a>
                            <p class="contry_array"><i class="fas fa-caret-down"></i></p>
                            <div class="form-element-bar" ></div>
                            {#<label class="form-element-label" >COUNTRY</label>#}

                            <ul id="myul" class="country_list" style="width: 100%; height: 200px; overflow: auto">
                                    <li class="thelis" ng-repeat="x in sign_up_countries | orderBy : 'name'| limitTo: numLimit" ng-click="setValue(x)" ng-model="selected_country">
                                        <img class="language-img" src='{{asset("img/square-flags/png/{[{x.img}]}.png")}}' alt="gb"> {[{x.name}]}
                                    </li>
                            </ul>
                        </div>
                    </div>

                    {#*** TEL#}
                    <div class="col-md-2 col-sm-2 col-xs-1 form-element form-input" style="padding-left: 0;padding-right: 0; margin-top: 0;margin-bottom: 40px;">
                        <input  class="form-element-input" placeholder=" " type="text" ng-model="user.countryData.dial_code" name="uDial" required="" ng-disabled="isDisabled"/>
                        <div class="form-element-bar"></div>
                        <label class="form-element-label_tel" ></label>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-11 form-element form-input" style="padding-left: 0;padding-right: 0; margin-top: 0; margin-bottom: 40px;">
                        <input  class="form-element-input" placeholder=" " autocomplete="off" type="text"   ng-minlength="5" ng-model="user.phone_number" name="uTel" required=""/>
                        <div class="form-element-bar"></div>
                        <label class="form-element-label" >PHONE NUMBER</label>
                    </div>
                    {#*** SHOW TEL#}
                    <div style="color:red" ng-show="form.$submitted || form.uTel.$touched">
                        <span ng-show="form.uTel.$error.required">*You must enter your Phone number</span>
                        <span class="error" ng-show="form.uTel.$error.minlength">*Invalid Phone number</span>
                    </div>

                    <div class="form_bottom">
                        <button class="form-btn " [disabled]="form.invalid" type="submit" ng-click="save(user)">
                            <span data-ng-hide="loading"> SIGN UP  </span>
                            <span data-ng-show="loading"> Checking <i class="fa fa-spinner fa-spin"></i> </span>
                        </button>
                        <a class="form_info"><span class="form_cliking_decoration_popup">I already have an account</span></a>
                    </div>
                    <a href="{{ path('terms') }}" class="form_cliking">By clicking "Sign Up" you agree to our<span class="form_cliking_decoration"> terms and conditions</span></a>
                    {#<input type="button" ng-click="reset(form)" value="Reset" />#}
                    {#<input type="submit"  value="Save" />#}
                </form>
                {#<pre>user = {[{user | json}]}</pre>#}

                {#/////*****************************************************************************#}
                {#<form class="form-card">#}
                    {#<div class="form-element form-input">#}
                        {#<input  class="form-element-input" placeholder=" " type="text" required/>#}
                        {#<div class="form-element-bar"></div>#}
                        {#<label class="form-element-label" >FULL NAME</label>#}
                    {#</div>#}
                    {#<div class="form-element form-input">#}
                        {#<input  class="form-element-input" placeholder=" " type="text" required/>#}
                        {#<div class="form-element-bar"></div>#}
                        {#<label class="form-element-label" >NICKNAME</label>#}
                    {#</div>#}

                    {#<div class="form-element form-input">#}
                        {#<input  class="form-element-input" placeholder=" " type="email" required/>#}
                        {#<div class="form-element-bar"></div>#}
                        {#<label class="form-element-label" >EMAIL</label>#}
                    {#</div>#}
                    {#<div class="form-element form-input">#}
                        {#<input  class="form-element-input form-element-input_password" placeholder=" " type="password" required/>#}
                        {#<div class="form-element-bar"></div>#}
                        {#<label class="form-element-label" >PASSWORD</label>#}
                    {#</div>#}
                    {#<div class="form-element form-input">#}
                        {#<div class="country_cont">#}
                            {#<a href="#" class="country"></a>#}
                            {#<p class="contry_array"><i class="fas fa-caret-down"></i></p>#}
                            {#<div class="form-element-bar"></div>#}
                            {#<div >#}
                                {#<div> <label class="form-element-label" >{[{item}]}</label></div>#}
                                {#<label class="form-element-label" >COUNTRY</label>#}

                            {#</div>#}


                            {#<ul class="country_list" style="width: 100%; height: 200px; overflow: auto">#}
                                {#<div ng-repeat="x in sign_up_countries">#}
                                    {#<li><img class="language-img" src='{{asset("img/square-flags/png/{[{x.img}]}.png")}}' alt="gb"> {[{x.name}]} ( {[{x.dial_code}]})</li>#}
                                {#</div>#}
                            {#</ul>#}
                        {#</div>#}

                    {#</div>#}

                    {#<div class="col-md-3 col-sm-3 col-xs-2 form-element form-input" style="padding-left: 0;padding-right: 0; margin-top: 0;margin-bottom: 40px;">#}
                        {#<input  class="form-element-input" placeholder=" " type="text" required/>#}
                        {#<div class="form-element-bar"></div>#}
                        {#<label class="form-element-label_tel" >( {[{x.dial_code}]})</label>#}
                    {#</div>#}
                    {#<div class="col-md-8 col-sm-8 col-xs-9 col-md-offset-1 form-element form-input" style="padding-left: 0;padding-right: 0; margin-top: 0; margin-bottom: 40px;">#}
                        {#<input  class="form-element-input" placeholder=" " type="text" required/>#}
                        {#<div class="form-element-bar"></div>#}
                        {#<label class="form-element-label" >PHONE NUMBER</label>#}
                    {#</div>#}

                    {#<div class="form_bottom">#}
                        {#<button class="form-btn" type="submit">SIGN UP</button>#}
                        {#<a class="form_info"><span class="form_cliking_decoration_popup">I already have an account</span></a>#}
                    {#</div>#}
                    {#<a href="{{ path('terms') }}" class="form_cliking">By clicking "Sign Up" you agree to our<span class="form_cliking_decoration"> terms and conditions</span></a>#}
                {#</form>#}
                <div class="form_soz-cont">
                    <p class="form_soz-cont_text">Or connect with -</p>
                    <a class="form_soz-cont_icon footer_soz_icon_youtube"><i class="fab fa-google"></i></a>
                    <a class="form_soz-cont_icon footer_soz_icon_faceebook"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>



        </div>
    </div>
</div>




{#<div class="my-modal modal_sigh-up">#}
    {#<div class="modal_scroll">#}
        {#<div class="my-modal_cont-left">#}
            {#<img class="my-modal_cont-left_img" src='{{asset("img/signin/bg_sign_up.png")}}' alt="bg_sign_up">#}
            {#<a href="http://trading.venhrun.com" class="logo-text modal_header-left">#}
                {#<img src='{{asset("img/logo_white.png")}}' class="top-logo " alt="logo">#}
            {#</a>#}
            {#<div class="modal_left-content">#}
                {#<h1 class="modal_heder">Sign Up</h1>#}
                {#<div class="modal-cont-text ms-none">#}
                    {#<div class="modal_check-marks">#}
                        {#<p><i class="fas fa-check"></i></p>#}
                    {#</div>#}
                    {#<p class="modal-text">Join the exciting market of real time Commission Free Trading</p>#}
                {#</div>#}
                {#<div class="modal-cont-text ms-none">#}
                    {#<div class="modal_check-marks">#}
                        {#<p><i class="fas fa-check"></i></p>#}
                    {#</div>#}
                    {#<p class="modal-text">Join the exciting market of real time Commission Free Trading</p>#}
                {#</div>#}
                {#<div class="modal-cont-text ms-none">#}
                    {#<div class="modal_check-marks">#}
                        {#<p><i class="fas fa-check"></i></p>#}
                    {#</div>#}
                    {#<p class="modal-text">Boost your trading account with exclusive bonuses</p>#}
                {#</div>#}
                {#<div class="modal-cont-text ms-none">#}
                    {#<div class="modal_check-marks">#}
                        {#<p><i class="fas fa-check"></i></p>#}
                    {#</div>#}
                    {#<p class="modal-text">Create a watchlist and view our Free Live feed and Charts</p>#}
                {#</div>#}
                {#<div class="modal-cont-text ms-none">#}
                    {#<div class="modal_check-marks">#}
                        {#<p><i class="fas fa-check"></i></p>#}
                    {#</div>#}
                    {#<p class="modal-text">24 hour support in multiple languages</p>#}
                {#</div>#}
                {#<div class="modal-cont-text ms-none">#}
                    {#<div class="modal_check-marks">#}
                        {#<p><i class="fas fa-check"></i></p>#}
                    {#</div>#}
                    {#<p class="modal-text">Dedicated Account Managers</p>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="my-modal_cont-right">#}

            {#<a class="close_modal"><i class="fas fa-plus"></i></a>#}
            {#<div class="modal_right-content">#}
                {#<form class="form-card">#}
                    {#<div class="form-element form-input">#}
                        {#<input  class="form-element-input" placeholder=" " type="text" required/>#}
                        {#<div class="form-element-bar"></div>#}
                        {#<label class="form-element-label" >FULL NAME</label>#}
                    {#</div>#}
                    {#<div class="form-element form-input">#}
                        {#<input  class="form-element-input" placeholder=" " type="text" required/>#}
                        {#<div class="form-element-bar"></div>#}
                        {#<label class="form-element-label" >NICKNAME</label>#}
                    {#</div>#}

                    {#<div class="form-element form-input">#}
                        {#<input  class="form-element-input" placeholder=" " type="email" required/>#}
                        {#<div class="form-element-bar"></div>#}
                        {#<label class="form-element-label" >EMAIL</label>#}
                    {#</div>#}
                    {#<div class="form-element form-input">#}
                        {#<input  class="form-element-input form-element-input_password" placeholder=" " type="password" required/>#}
                        {#<div class="form-element-bar"></div>#}
                        {#<label class="form-element-label" >PASSWORD</label>#}
                    {#</div>#}
                    {#<div class="form-element form-input">#}
                        {#<div class="country_cont">#}
                            {#<a href="#" class="country"></a>#}
                            {#<p class="contry_array"><i class="fas fa-caret-down"></i></p>#}
                            {#<div class="form-element-bar"></div>#}
                            {#<div >#}
                                {#<div> <label class="form-element-label" >{[{item}]}</label></div>#}
                                {#<label class="form-element-label" >COUNTRY</label>#}

                            {#</div>#}


                            {#<ul class="country_list" style="width: 100%; height: 200px; overflow: auto">#}
                                {#<div ng-repeat="x in sign_up_countries">#}
                                    {#<li><img class="language-img" src='{{asset("img/square-flags/png/{[{x.img}]}.png")}}' alt="gb"> {[{x.name}]} ( {[{x.dial_code}]})</li>#}
                                    {#<li><img class="language-img" src='{{asset("img/small_flags/gb.png")}}' alt="gb"> United States</li>#}
                                {#</div>#}
                            {#</ul>#}
                        {#</div>#}
                        {#<!--#}
                        {#<input  class="form-element-input" placeholder=" " type="text" required/>#}

                        {#<label class="form-element-label" >COUNTRY</label>-->#}
                    {#</div>#}
                    {#<div class="form-element form-input" >#}
                        {#<input  class="form-element-input" placeholder=" " type="text" required/>#}
                        {#<div class="form-element-bar"></div>#}
                        {#<label class="form-element-label" >PHONE NUMBER</label>#}
                    {#</div>#}

                    {#<div class="col-md-3 col-sm-3 col-xs-2 form-element form-input" style="padding-left: 0;padding-right: 0; margin-top: 0;margin-bottom: 40px;">#}
                        {#<input  class="form-element-input" placeholder=" " type="text" required/>#}
                        {#<div class="form-element-bar"></div>#}
                        {#<label class="form-element-label_tel" >( {[{x.dial_code}]})</label>#}
                    {#</div>#}
                    {#<div class="col-md-8 col-sm-8 col-xs-9 col-md-offset-1 form-element form-input" style="padding-left: 0;padding-right: 0; margin-top: 0; margin-bottom: 40px;">#}
                        {#<input  class="form-element-input" placeholder=" " type="text" required/>#}
                        {#<div class="form-element-bar"></div>#}
                        {#<label class="form-element-label" >PHONE NUMBER</label>#}
                    {#</div>#}

                    {#<div class="form_bottom">#}
                        {#<button class="form-btn" type="submit">SIGN UP</button>#}
                        {#<a class="form_info"><span class="form_cliking_decoration_popup">I already have an account</span></a>#}
                    {#</div>#}
                    {#<a href="{{ path('terms') }}" class="form_cliking">By clicking "Sign Up" you agree to our<span class="form_cliking_decoration"> terms and conditions</span></a>#}
                {#</form>#}
                {#<div class="form_soz-cont">#}
                    {#<p class="form_soz-cont_text">Or connect with -</p>#}
                    {#<a class="form_soz-cont_icon footer_soz_icon_youtube"><i class="fab fa-google"></i></a>#}
                    {#<a class="form_soz-cont_icon footer_soz_icon_faceebook"><i class="fab fa-facebook-f"></i></a>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</div>#}