<html lang="en"> <!--<![endif]-->

    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118464368-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-118464368-1');
        </script>


        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-M7P6LQ2');</script>
        <!-- End Google Tag Manager -->


        <meta charset="utf-8">

        {% block description %}
        <title>Tradingcompare</title>
        <meta name="description" content="">
        {% endblock %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/compiled.min.css') }}" >
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="icon" href="{{ asset('img/Group_17.png') }}" type="image/png" sizes="16x16">
        {% block stylesheets %}
        <style>


            body{margin:0;padding:0;font-family:'Open Sans', sans-serif;}
            header{background-color:#1e375e;z-index:2;display:table!important;width:100%;}
            .desctop-none{display:none;}
            .top-logo{width:auto;margin:10px 0;}
            .logo-text{color:white;font-weight:bold;font-size:24px;}
            .top-logo:hover .logo-text, .top-logo:hover, .logo-text:hover{color:#12a6f9;cursor:pointer;text-decoration:none!important;}
            .cont-right{float:right;position:relative;}
            .select{margin:22px 5px;width:110px;display:block;position:relative;float:left;z-index:222;}
            .drop-2, .drop, .drop-3{display:none;position:absolute;background-color:#1e375e;padding:0;z-index:2222;border:2px solid black;}
            .drop-2 li, .drop li, .drop-3 li{list-style:none;text-align:center;color:white;cursor:pointer;margin:0;padding:5px 25px;width:100%;}
            .drop-2 li:hover, .drop-3 li:hover, .drop li:hover, .slct:hover, .slct:focus, .slct:active,
            .slct-2:hover, .slct-2:focus, .slct-2:active, .slct-3:hover, .slct-3:focus, .slct-3:active{color:white;text-decoration:none;}
            .slct, .selct-2{padding:0;width:110px;color:white;display:block;position:relative;}
            .menu{width:400px;display:block;margin:0 auto;}
            .my-nav{width:160%;margin:0 auto;padding:0;z-index:1000;}
            .my-nav li{float:left;display:inline-table;width:20%;text-align:center;margin-bottom:10px;}
            .my-nav li a{color:white;text-decoration:none;font-size:14px;line-height:30px;font-family:'Open Sans', sans-serif;}
            .my-nav li a:hover{color:#6AE5F5;cursor:pointer;}
            .active{color:#6AE5F5!important;}
            .my-language{width:12.5%;float:left;}
            .language{width:50px;margin:10px 25px;padding:0;z-index:2;}
            .slct-2{display:block;margin-left:25px;}
            .img-language{width:35px;height:35px;margin:3px auto;display:block;object-fit:cover;}
            .drop-2{background-color:#1e375e;border-radius:3px;}
            .drop-2 li:hover{background-color:#12a6f9;}
            .brokers{display:table;width:100%;background:url("{{ asset('img/bitcoin-1813503_1920.jpg') }}") no-repeat;text-align:center;}
            .brokers-opaciti{width:100%;height:100%;display:table;background-color:rgba(0, 0, 0, 0.4);}
            .brokers-forex{background:url("{{ asset('img/dollar-exchange.jpg') }}") no-repeat;background-position:center;}
            .brokers-Stocks{background:url("{{ asset('img/chart.jpg') }}") no-repeat;background-position:center;}
            .brokers-commodities{background:url("{{ asset('img/commodities-banner.png') }}") no-repeat;background-position:center;}
            .brokers_title{font-size:38px;line-height:38px;color:white;margin-top:50px;font-weight:bold;z-index:222;font-family:'Open Sans', sans-serif;}
            .brokers_text{font-size:24px;color:#6AE5F5;margin:35px 0;font-family:'Open Sans', sans-serif;}
            .table{display:table;width:100%;background-color:#f2f3f5;margin: 0!important;}
            .paupal{float:right;margin:10px 0;padding:5px;background-color:white;}
            .paupal_text{float:left;line-height: 30px;font-family:'Open Sans', sans-serif; font-weight: 600;margin: 0;color:#1E375E;}
            .paupal_img{float:left;width:60px;height:30px;margin:0 5px;}
            .img-pay{background:url("{{ asset('img/PayPal.png') }}") no-repeat;background-size:contain;background-position:center;}
            .img-master{width:90px;background:url("{{ asset('img/visa-mastercard.png') }}") no-repeat;background-size:contain;background-position:center;}
            .content-table{width:100%;display:table;background-color:white;padding: 5px 15px 15px 15px}
            .content-table_container-title{width:98%;display:table;margin:0 1%;border-bottom:1px solid #D8D8D8;text-align:center;}
            .content-table_container-title p{color:#2B2B2B;line-height:40px;margin:0;font-family: 'Open Sans', sans-serif;width: 100%}
            .col{padding:0;}
            .content-table_container-information{width:100%;display:table;text-align:center;}
            .top-container-img{width:60%;margin:0 20%;float:right;height:40px;position:relative;}
            .tom-img{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:auto;width:70%;object-fit:contain;}
            .number{width:20%;display:table;float:left;position:relative;height:65px;}
            .number p{width:30px;line-height:30px;color:white;font-weight:bold;font-size:20px;border-radius:50%;background-color:#9b9b9b;position:absolute;top:45%;left:50%;transform:translate(-50%, -50%);}
            .brokers-Stocks{background:url("{{ asset('img/chart.jpg') }}") no-repeat;background-position:center;}
            .brokers-commodities{background:url("{{ asset('img/commodities-banner.png') }}") no-repeat;background-position:center;}

        </style>
            {% endblock %}
    </head>

    <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M7P6LQ2"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header >
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="burger clearfix desctop-none">
                    <div class=burger-menu></div>
                    <div class=burger-menu></div>
                    <div class=burger-menu></div>
                </div>
                <a href="http://tradingcompare.com/" class="logo-text">
                    <img src="{{ asset('img/logo_white.png') }}" class="top-logo col-sm-none" alt="logo">
                    <img src="{{ asset('img/Group_17.png') }}" class="top-logo col-sm-block" alt="logo">
                    <!--<span class="col-xs-none">tradingcompare</span>-->
                </a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="cont-right">
                    <div class="select language">
                        <a href="#" class="slct-2">  <img class="img-language" src="{{ asset('img/uk_flag.png') }}" alt="uk_flag"></a>
                        <ul class="drop-2">
                            <li> <img class="img-language" src="{{ asset('img/america.png') }}" alt="america"></li>
                            <li> <img class="img-language" src="{{ asset('img/france.png') }}" alt="america"></li>
                            <li> <img class="img-language" src="{{ asset('img/italii.png') }}" alt="america"></li>
                            <li> <img class="img-language" src="{{ asset('img/made.png') }}" alt="america"></li>
                            <li> <img class="img-language" src="{{ asset('img/uk_flag.png') }}" alt="uk_flag"></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
        {% block menu_block %}
    <div class="menu">
        <ul class="my-nav">
            <li><a href="#about">Live Feed</a></li>
            <li ><a class="active" href="cryptocurrencies">Cryptocurrencies</a></li>
            <li><a href="forex">Forex</a></li>
            <li><a href="stocks">Stocks</a></li>
            <li><a href="commodities">Commodities</a></li>

        </ul>
    </div>
        {% endblock %}
    </header>
        {% block body %}
        {% endblock %}

    <footer class="footer">
        <div class="container">
            <div class="row">
                <p class="footer_title">Powered by Marketing66 © 2018 -<span class="footer-plus">All trading involves risk. Only risk
                    capital you’re prepared to lose.
                    Past performance is not an
                    indication of future results. This
                    content is for educational purposes
                    only and is not investment advice.</span><span class="footer-right">Terms of Use</span></p>
            </div>
        </div>
    </footer>
        {% block javascripts %}

            <script>
                function loadCSS(hf) {
                    var ms = document.createElement("link");
                    ms.rel = "stylesheet";
                    ms.href = hf;
                    document.getElementsByTagName("head")[0].appendChild(ms);
                }

                loadCSS("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
                loadCSS("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

                //User Styles: Main
                //User Styles: Media
            </script>

            <!-- Load CSS compiled without Bootstrap & Header styles (after release) -->
            <script>var ms = document.createElement("link");
                ms.rel = "stylesheet";
                ms.href = "compiled.min.css";
                document.getElementsByTagName("head")[0].appendChild(ms);
            </script>

            <!-- Load Scripts -->
            <script>var scr = {
                    "scripts": [
                        {"src": "js/jquery-3.3.1.min.js", "async": false},
                        {"src": "js/plugin.js", "async": false},
                        {"src": "js/common.js", "async": false},
                        {"src": "https://use.fontawesome.com/releases/v5.0.10/js/all.js", "async": false},
                    ]
                };
                !function (t, n, r) {
                    "use strict";
                    var c = function (t) {
                        if ("[object Array]" !== Object.prototype.toString.call(t)) return !1;
                        for (var r = 0; r < t.length; r++) {
                            var c = n.createElement("script"), e = t[r];
                            c.src = e.src, c.async = e.async, n.body.appendChild(c)
                        }
                        return !0
                    };
                    t.addEventListener ? t.addEventListener("load", function () {
                        c(r.scripts);
                    }, !1) : t.attachEvent ? t.attachEvent("onload", function () {
                        c(r.scripts)
                    }) : t.onload = function () {
                        c(r.scripts)
                    }
                }(window, document, scr);
            </script>
        {% endblock %}
    </body>
</html>
