 <!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

<head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-7144298839495795",
            enable_page_level_ads: true
        });
    </script>

    <meta charset="utf-8">
    <meta name="google-site-verification" content="_jICio70MBtVucULe4Xw5_gJkTHlVAw1cjAkzb54aT0" />
    <meta name="msvalidate.01" content="1B416F5E787E38FAC6EEC915932F54DB" />

    {% block description %}
        <title>Tradingcompare</title>
        <meta name="description" content="Tradingcompare offers free real time quotes, Live charts, live stock market data, financial news, and more.">
    {% endblock %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="{{ asset('img/Group_17.png') }}" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="{{ asset('css/compiled.min.css') }}" >

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-M7P6LQ2');</script>
    <!-- End Google Tag Manager -->

    <noscript>
        <!--<link rel="stylesheet" href="footer.css">-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/compiled.min.css') }}" >
    </noscript>

    {#jQuery#}
    {#<script src="https://code.jquery.com/jquery-1.12.4.js"></script>#}
    {#<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>#}

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    {#Angular#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-sortable/0.15.0/sortable.min.js"></script>
    <script data-require="angular.js@*" data-semver="1.3.7" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.7/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.js"></script>


</head>

<body style=" min-height: 1054px;margin: 0; padding: 0; font-family: 'Open Sans', sans-serif;">


<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M7P6LQ2"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header style="background-color: #1e375e; z-index: 2; display: table !important; width: 100%;">

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-5">
                <div class="burger clearfix ms-block" >
                    <div class=burger-menu></div>
                    <div class=burger-menu></div>
                    <div class=burger-menu></div>
                </div>
                {#<a style="color: white;font-weight: bold;font-size: 24px;" href="{{ path('Live_rates_stocks' , { 'name': 'United-States','value':'united-states-of-america'}) }}" class="logo-text">#}
                <a style="color: white;font-weight: bold;font-size: 24px;" href="{{ path('homepage') }}" class="logo-text">
                    <img style="width: auto;margin: 10px 0;" src='{{asset("img/logo_white.png")}}' class="top-logo ms-none" alt="logo">
                    <img style="width: auto;margin: 10px 0;" src='{{asset("img/Group_17.png")}}' class="top-logo ms-block" alt="logo">

                </a>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-7">
                <div style="float: right;position: relative;" class="cont-right">
                    <div style="display: block;position: relative;float: left; width: 50px;margin: 10px 25px;padding: 0;z-index: 999999;" class="select language">
                        <a href="#" class="slct-2" style="display: block;margin-left: 25px;">  <img style="width: 35px;height: 35px;margin: 3px auto;display: block;object-fit: cover;" class="img-language" src='{{asset("img/Flags/"~app.request.getLocale()~".png")}}' alt="uk_flag"></a>
                        {#<ul class="drop-2">#}
                            {#<li><a href="{{ path('changelanguage', {'langCode': 'en'}) }}"> <img style="width: 35px;height: 35px;margin: 3px auto;display: block;object-fit: cover;" class="img-language" src='{{asset("img/Flags/uk_flag.png" )}}'alt="uk_flag"></a></li>>#}
                            {#<li><a href="{{ path('changelanguage', {'langCode': 'fr'}) }}"> <img style="width: 35px;height: 35px;margin: 3px auto;display: block;object-fit: cover;" class="img-language" src= '{{asset("img/Flags/france.png")}}'alt="france"></a></li>#}
                            {#<li><a href="{{ path('changelanguage', {'langCode': 'it'}) }}"> <img style="width: 35px;height: 35px;margin: 3px auto;display: block;object-fit: cover;" class="img-language" src='{{asset("img/Flags/italii.png")}}' alt="italii"></a></li>#}
                            {#<li><a href="{{ path('changelanguage', {'langCode': 'en'}) }}"> <img style="width: 35px;height: 35px;margin: 3px auto;display: block;object-fit: cover;" class="img-language" src='{{asset("img/Flags/made.png")}}' alt="made"></a></li>#}
                        {#</ul>#}
                    </div>

                    <div id="dvLogButton" class="ng-cloak" style="float: left">
                        <div id="logButton" ng-controller="LogButton">
                                <a ng-if="!userLoggedIn" class="login-btn log sm-none v-btn" >{{ 'button.login'|trans }}</a>
                            {#<a class="login-btn log sm-none v-btn" >{{ 'button.login'|trans }}</a>#}
                                <ul ng-if="userLoggedIn" class="out sm-none" style="min-width: 90px;">
                                    <li ><a>{[{ user.full_name }]}</a> <span class="hover_next-icon"><i class="fas fa-caret-down"></i></span>
                                        <ul>
                                            <li class="out my-log-in"> <a ng-click="profile()"> Profile </a></li>
                                            <li class="out my-log-out">  <a ng-click="logout()"> Log out </a> </li>
                                            {#<li class="out my-log-out"><a ng-click="behaviour()">CARGO</a></li>#}
                                            {#<li class="out my-log-up"> Sign up </li>#}
                                        </ul>
                                    </li>
                                </ul>

                            {#/****************/#}
                        </div>
                    </div>


                </div>
            </div>
            
            {#<div class="col-md-12 col-sm-12 col-xs-11">#}
            <div class="col-md-6 col-sm-6 col-xs-5">
                   <a href="http://borthy-carges.com/98dd47bc-5797-47bf-847a-784a2445ee36" target="_blank">
                       <img style=" margin-bottom: 4%;" class="sponsor ms-none" src='{{asset("img/broker partner.png")}}' alt="trade-logo">
                   </a>
            </div>

            </div>
            <div  class="menu">
                <ul style="display: inline-table;margin: 0 auto;padding: 0;z-index: 1000;" class="my-nav">
                    <li class="my-hover"><a class="{% if app.request.attributes.get('_route') == 'localised_home' or app.request.attributes.get('_route') starts with 'home'%}active{% endif %}" href="{{ path('localised_home')}}">Home</a></li>

                    <li class="my-hover"><a href="#" class="my-active
                         {% if app.request.attributes.get('_route') starts with 'Live_rates_stocks' or
                            app.request.attributes.get('_route') starts with 'Live_rates_crypto' or
                            app.request.attributes.get('_route') starts with 'Live_rates_forex'%}active{% endif %}
                        ">Live Feed <span class="hover_next-icon"><i class="fas fa-caret-down"></i></span></a>
                        <!--<li class="my-hover">Brokers <span class="hover_next-icon"><i class="fas fa-chevron-right"></i></span></a>-->
                        <ul>
                            <li class="my-hover"><a class="{% if app.request.attributes.get('_route') starts with 'Live_rates_stocks' %}active{% endif %}" href="{{ path('Live_rates_stocks', { 'name': 'United-States','value':'united-states-of-america'}) }}">{{ 'menu.live_stock_feed'|trans }}</a></li>
                            <li class="my-hover"><a class="{% if app.request.attributes.get('_route') starts with 'Live_rates_crypto' %}active{% endif %}" href="{{ path('Live_rates_crypto') }}" >{{ 'menu.live_crypto_feed'|trans }}</a></li>
                            <li class="my-hover"><a class="{% if app.request.attributes.get('_route') starts with 'Live_rates_forex' %}active{% endif %}" href="{{ path('Live_rates_forex') }}" >{{ 'menu.live_forex_feed'|trans }}</a></li>
                        </ul>
                    </li>

                    {#<li class="my-hover"><a class="{% if app.request.attributes.get('_route') starts with 'Live_rates_stocks' %}active{% endif %}" href="{{ path('Live_rates_stocks', { 'name': 'United-States','value':'united-states-of-america'}) }}">{{ 'menu.live_stock_feed'|trans }}</a></li>#}
                    {#<li class="my-hover"><a class="{% if app.request.attributes.get('_route') starts with 'Live_rates_crypto' %}active{% endif %}" href="{{ path('Live_rates_crypto') }}" >{{ 'menu.live_crypto_feed'|trans }}</a></li>#}
                    {#<li class="my-hover"><a class="{% if app.request.attributes.get('_route') starts with 'Live_rates_forex' %}active{% endif %}" href="{{ path('Live_rates_forex') }}" >{{ 'menu.live_forex_feed'|trans }}</a></li>#}

                    <div id="dvSentimentLink" class="ng-cloak" style="float: left">
                        <div ng-controller="SentimentLinkCtr">
                            {#<li class="my-hover"><a class="{% if app.request.attributes.get('_route') starts with 'social_sentiment' %}active{% endif %}" href="{{ path('social_sentiment') }}" >Social Sentiment</a></li>#}
                            <li class="my-hover"><a class="{% if app.request.attributes.get('_route') starts with 'social_sentiment' %}active{% endif %}" ng-click="GoToSentimentPage('{{ app.request.getLocale() }}')" >Social Sentiment</a></li>
                            <li class="my-hover"><a class="{% if app.request.attributes.get('_route') starts with 'leaderboard' %}active{% endif %}" ng-click="GoToLeaderboardPage('{{ app.request.getLocale() }}')" >Leaderboard</a></li>
                        </div>
                    </div>

                    <li class="my-hover"><a href="#" class="my-active
                            {% if app.request.attributes.get('_route') starts with 'forex' or
                            app.request.attributes.get('_route') starts with 'crypto' or
                            app.request.attributes.get('_route') starts with 'stock' or
                            app.request.attributes.get('_route') starts with 'commodities'%}active{% endif %}
                        ">{{ 'menu.brokers'|trans }} <span class="hover_next-icon"><i class="fas fa-caret-down"></i></span></a>
                        <!--<li class="my-hover">Brokers <span class="hover_next-icon"><i class="fas fa-chevron-right"></i></span></a>-->
                        <ul>
                            <li ><a class="{% if app.request.attributes.get('_route') starts with 'forex' %}active{% endif %}" href="{{ path('forex', {'_locale': app.request.getLocale()}) }}" >{{ 'menu.broker_forex'|trans }}</a></li>
                            <li ><a class="{% if app.request.attributes.get('_route') starts with 'crypto' %}active{% endif %}" href="{{ path('crypto') }}">{{ 'menu.broker_crypto'|trans }}</a></li>
                            <li ><a class="{% if app.request.attributes.get('_route') starts with 'stock' %}active{% endif %}" href="{{ path('stock') }}">{{ 'menu.broker_stock'|trans }}</a></li>
                            <li ><a class="{% if app.request.attributes.get('_route') starts with 'commodities' %}active{% endif %}" href="{{ path('commodities') }}" class="active">{{ 'menu.broker_commodities'|trans }}</a>
                        </ul>
                    </li>
                    <li class="my-hover"><a href="#" class="my-active">{{ 'menu.language'|trans }} <span class="hover_next-icon"><i class="fas fa-caret-down"></i></span></a>
                        <ul>
                            <li><a href="{{ path('changelanguage', {'langCode': 'en', '_locale': app.request.getLocale()}) }}"><img class="language-img" src='{{asset("img/small_flags/gb.png" )}}' alt="gb"> {{ 'menu.language_english'|trans }}</a></li>
                            {#<li><a href="{{ path('changelanguage', {'langCode': 'es'}) }}"><img class="language-img" src='{{asset("img/small_flags/es.png" )}}' alt="es"> {{ 'menu.language_spanish'|trans }}</a></li>#}
                            <li><a href="{{ path('changelanguage', {'langCode': 'fr', '_locale': app.request.getLocale()}) }}"><img class="language-img" src='{{asset("img/small_flags/fr.png" )}}' alt="fr"> {{ 'menu.language_francais'|trans }}</a></li>
                            {#<li><a href="{{ path('changelanguage', {'langCode': 'it'}) }}"><img class="language-img" src='{{asset("img/small_flags/it.png" )}}' alt="it"> {{ 'menu.language_italiano'|trans }}</a></li>#}
                            {#<li><a href="{{ path('changelanguage', {'langCode': 'de'}) }}"><img class="language-img" src='{{asset("img/small_flags/de.png" )}}' alt="de"> {{ 'menu.language_deutsch'|trans }}</a></li>#}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {{ render(controller('AppBundle:Web\\Bar:bar')) }}
</header>

<div class="my-container">
    <div id="dvsignForm" class="ng-cloak">
        <div ng-controller="AppForm">
            <div ng-init="init('')">
            {#Sign in#}
            {% include 'SignForm/SignIn.html.twig' %}
            {#Sign up#}
            {% include 'SignForm/SignUp.html.twig' %}
            </div>
        </div>
    </div>


    {% block body %}

    {% endblock %}
</div>

<footer style=" background-color: #1e375e;width: 100%;display: table;text-align: center;" class="footer">
    <div class="container">
        <div class="col-md-4 col-sm-4 col-xs-12 footer_col">
            <div class="footer-abs">
                <p style="  display: table;float: left;margin: 10px 10px 10px 0;line-height: 35px;" class="footer_follow">{{ 'footer.follow_us'|trans }}</p>
                <div style=" margin: 10px auto;" class="footer_soz">
                    <a class="footer_soz_icon footer_soz_icon_faceebook" href="https://www.facebook.com/TradingCompare-2300802673270748/?ref=br_rs" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a class="footer_soz_icon footer_soz_icon_twitter" href="https://twitter.com/CompareTrading" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a class="footer_soz_icon footer_soz_icon_linkedin" style="cursor: context-menu"><i class="fab fa-linkedin"></i></a>
                    <a class="footer_soz_icon footer_soz_icon_youtube" href="https://www.youtube.com/channel/UCZMaovcKLQ6i2GpabCAc8cQ" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-5 col-xs-12 footer_col">
            <div class="footer_down">
                <img style=" object-fit: cover;" class="footer_mobile" src='{{asset("img/Footer/phone.png")}}' alt="phone">
                <div style=" position: absolute;right: 0;display: table;bottom: 0;width: 125px;" class="footer_down_absolut">
                    <p style=" text-align: left;" class="footer_down_text">{{ 'footer.download'|trans }}</p>
                    <a style="  display: block;margin-top: 5px;" class="footer_down_link" href="https://itunes.apple.com/us/app/trading-compare/id1406118849?mt=8&ign-mpt=uo%3D4" target="_blank">
                        <img src='{{asset("img/Footer/App_store.png")}}' alt="App_store">
                    </a>
                    <a style="  display: block;margin-top: 5px;" class="footer_down_link" href="https://play.google.com/store/apps/details?id=com.tradingcompare.app" target="_blank">
                        <img src='{{asset("img/Footer/Google_play.png")}}' alt="Google_play">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-3 col-xs-12 footer_col">
            <div class="footer-abs">
                <p class="footer_terms"><a style="color:white;" href="{{ path('terms') }}">{{ 'footer.terms_&_conditions'|trans }}</a>  | <a style="color:white;" href="{{ path('privacy') }}">{{ 'footer.privacy_policy'|trans }}</a></p>
            </div>
        </div>
        {#<p style="text-align: left;max-width: 100%!Important;display: inline-block!important;font-family: 'Hind Siliguri', sans-serif;font-weight: 500;#}
        {#font-size: 10px;" class="footer_text">#}
            {#Risk Warning: Trading foreign exchange, cryptocurrencies, CFDs, indexes and commodities is potentially full of high risk and may not be suitable for#}
            {#all investors. The high level of leverage can work both for and against traders. Before any investment you need to carefully consider your targets,#}
            {#previous experience, and risk level. Trading can result in the loss of your money, as a result, you are expressly cautioned that you should never#}
            {#invest or trade with money that you cannot afford to lose. The Information on this website is provided for education and informational purposes only,#}
            {#without any express or implied warranty of any kind, including warranties of accuracy, completeness, or fitness for any particular purpose.#}
            {#The Information contained in or provided from or through this website is not intended to be and does not constitute financial advice, investment#}
            {#advice, trading advice or any other advice. The Information on this website and provided from or through this website is general in nature and is not#}
            {#specific to you the User or anyone else. You should not make any decision, financial, investment, trading or otherwise, based on any of the information#}
            {#presented on this website without undertaking independent due diligence and consultation with a professional broker or financial advisory. You#}
            {#understand that you are using any and all Information available on or through this website at your own risk. The information provided on this website#}
            {#does not constitute investment advice, financial advice, trading advice or any other sort of advice and you should not treat any of the website's#}
            {#content as such. The Website does not recommend that any cryptocurrency should be bought, sold or held by you and nothing on this website should be#}
            {#taken as an offer to buy, sell or hold a cryptocurrency. Do conduct your own due-diligence and consult your financial advisory before making any#}
            {#nvestment decision.#}
            {#<br>Power by:Marketing66 LTD adress:Maase Hoshev 4 Israel Email:<a style="color:white" href="mailto:contact@tradingcompare.com" >#}
                {#contact@tradingcompare.com</a> <a style="color:white" href="https://www.marketing66.com" target="_blank">www.marketing66.com</a>#}
        {#</p>#}

        <p style="text-align: left;max-width: 100%!Important;display: inline-block!important;font-family: 'Hind Siliguri', sans-serif;font-weight: 500;
        font-size: 10px;" class="footer_text">
            {{ 'footer.risk_warning'|trans|raw }}
        </p>
        <p class="footer_title">{{ 'footer.powered_by'|trans }}</p>

    </div>
</footer>

<script src="https://www.gstatic.com/firebasejs/5.5.9/firebase.js"></script>
<!-- Firebase App is always required and must be first -->
<script src="https://www.gstatic.com/firebasejs/5.5.9/firebase-app.js"></script>

<!-- Add additional services that you want to use -->
<script src="https://www.gstatic.com/firebasejs/5.5.9/firebase-auth.js"></script>

<script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyBvTHEcyqfyj4G7qZU0qVBasRIqYd1K3o4",
        authDomain: "trading-compare-93afb.firebaseapp.com",
        databaseURL: "https://trading-compare-93afb.firebaseio.com",
        projectId: "trading-compare-93afb",
        storageBucket: "trading-compare-93afb.appspot.com",
        messagingSenderId: "212982281977"
    };
    firebase.initializeApp(config);
</script>
<script>

    // Initialize Firebase
    // var config = {
    //     apiKey: "AIzaSyCsepSEFlTF2R8dIgVs_dpK6rGbL9vMzLg",
    //     authDomain: "test-55d05.firebaseapp.com",
    //     databaseURL: "https://test-55d05.firebaseio.com",
    //     projectId: "test-55d05",
    //     storageBucket: "test-55d05.appspot.com",
    //     messagingSenderId: "657441836957"
    // };
    // firebase.initializeApp(config);
</script>
<script src="{{ asset('js/Sign_Form.js') }}"> </script>
<script src="{{ asset('js/service/memberSevice.js') }}"></script>
<script src="{{ asset('js/service/watchlistService.js') }}"></script>
<script src="{{ asset('js/factory/createUser.js') }}"></script>
<script src="{{ asset('js/loginButton/js/script.js') }}"></script>
{% block javascripts %}

<script>
    function loadCSS(hf) {
        var ms = document.createElement("link");
        ms.rel = "stylesheet";
        ms.href = hf;
        document.getElementsByTagName("head")[0].appendChild(ms);
    }
    loadCSS('{{asset("css/footer.css")}}');
    loadCSS('{{ asset("font/font_avenir.css")}}');
    loadCSS("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
    loadCSS("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

    //User Styles: Main
    //User Styles: Media
</script>

<!-- Load CSS compiled without Bootstrap & Header styles (after release) -->
<script>var ms = document.createElement("link");
    ms.rel = "stylesheet";
    ms.href = '{{ asset("css/compiled.min.css")}}';
    document.getElementsByTagName("head")[0].appendChild(ms);
</script>

<!-- Load Scripts -->
<script>var scr = {
        "scripts": [
            {"src": '{{ asset("js/jquery-3.3.1.min.js")}}', "async": false},
            {"src": '{{ asset("js/general.js")}}', "async": false},
            {"src": "https://use.fontawesome.com/releases/v5.0.10/js/all.js", "async": false},

        ]
    };
    !function (t, n, r) {
        "use strict";
        var c = function (t) {
            if ("[object Array]" !== Object.prototype.toString.call(t)) return !1;
            for (var r = 0; r < t.length; r++) {
                var c = n.createElement("script"), e = t[r];
                c.src = e.src, c.async = e.async, n.body.appendChild(c)
            }
            return !0
        };
        t.addEventListener ? t.addEventListener("load", function () {
            c(r.scripts);
        }, !1) : t.attachEvent ? t.attachEvent("onload", function () {
            c(r.scripts)
        }) : t.onload = function () {
            c(r.scripts)
        }
    }(window, document, scr);
</script>

{% endblock %}

</body>
</html>
