<style>
    .negative{color:red;}
    .positive{color:#9CD400;}
    .neutral{color:#fff;}
</style>

<div id="dvFirst" class="ng-cloak">
    <div ng-controller="FirstController">

        <div ng-init="init('{{ api_forex }}', '{{ api_crypto }}','{{ api_stock }}', '{{ first }}', '{{ second }}', '{{ third }}', '{{ fourth }}',
        '{{ forex_from1 }}' , '{{ forex_to1 }}' , '{{ forex_from2 }}' , '{{ forex_to2 }}' , '{{ stock1 }}', '{{ stock2 }}')" ></div>

        <div class="container">
        <div class="row">

        <div class="statistics_block" >

        <p class="statistics_block_top-text">{[{crypto1.pair.slice(0, 3)}]}/{[{crypto1.pair.slice(3, 6)}]} <span class="statistics_block_number" ng-class="{'negative': crypto1.variation == 'down', 'positive':crypto1.variation == 'up', 'neutral': crypto1.variation == 'none'}"> {[{crypto1.price}]}</span></p>
        <p class="statistics_block_green-text" ng-class="{'negative': crypto1.change24 < 0, 'positive': crypto1.change24 >= 0}">{[{crypto1.change24}]}% <span class="statistics_block_min-text">{[{crypto1.point}]}</span></p>

        </div>

        <div class="statistics_block" >

        <p class="statistics_block_top-text">{[{crypto2.pair.slice(0, 3)}]}/{[{crypto2.pair.slice(3, 6)}]} <span class="statistics_block_number"  ng-class="{'negative': crypto2.variation == 'down', 'positive':crypto2.variation == 'up', 'neutral': crypto1.variation == 'none'}"> {[{crypto2.price}]}</span></p>
        <p class="statistics_block_green-text" ng-class="{'negative': crypto2.change24 < 0, 'positive': crypto2.change24 >= 0}">{[{crypto2.change24}]}% <span class="statistics_block_min-text">{[{crypto2.point}]}</span></p>

        </div>

        <div class="statistics_block" >

        <p class="statistics_block_top-text">{[{crypto3.fromSymbol}]}/{[{crypto3.toSymbol}]} <span class="statistics_block_number" ng-class="{'negative': crypto3.variation == 'down', 'positive':crypto3.variation == 'up', 'neutral': crypto1.variation == 'none'}"> {[{crypto3.price}]}</span></p>
        <p class="statistics_block_green-text" ng-class="{'negative': crypto3.change24 < 0, 'positive': crypto3.change24 >= 0}">{[{crypto3.change24}]}% <span class="statistics_block_min-text">{[{crypto3.point}]}</span></p>

        </div>

        <div class="statistics_block" >

        <p class="statistics_block_top-text">{[{crypto4.fromSymbol}]}/{[{crypto4.toSymbol}]} <span class="statistics_block_number" ng-class="{'negative': crypto4.variation == 'down', 'positive':crypto4.variation == 'up', 'neutral': crypto1.variation == 'none'}"> {[{crypto4.price}]}</span></p>
        <p class="statistics_block_green-text" ng-class="{'negative': crypto4.change24 < 0, 'positive': crypto4.change24 >= 0}">{[{crypto4.change24}]}% <span class="statistics_block_min-text">{[{crypto4.point}]}</span></p>

        </div>
        <div class="statistics_block" >

        <p class="statistics_block_top-text">{[{crypto5.name}]} <span class="statistics_block_number"> {[{crypto5.price}]}</span></p>
        <p class="statistics_block_green-text" ng-class="{'negative': crypto5.change24 < 0, 'positive': crypto5.change24 >= 0}">{[{crypto5.change}]}% <span class="statistics_block_min-text">{[{crypto5.point}]}</span></p>

        </div>
        <div class="statistics_block" >

        <p class="statistics_block_top-text">{[{crypto6.name}]} <span class="statistics_block_number"> {[{crypto6.price}]}</span></p>
        <p class="statistics_block_green-text" ng-class="{'negative': crypto6.change24 < 0, 'positive': crypto6.change24 >= 0}">{[{crypto6.change}]}% <span class="statistics_block_min-text">{[{crypto6.point}]}</span></p>

        </div>

        </div>
        </div>




    </div>
</div>

<script data-require="angular.js@*" data-semver="1.3.7" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.7/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-sortable/0.15.0/sortable.min.js"></script>
<script src="{{ asset('js/bar.js') }}"></script>
{#<script src="{{ asset('js/CryptoFeeds.js') }}"></script>#}