{% extends 'test.html.twig' %}
 {% block stylesheets %}
     {{ parent() }}
<style>
    .negative{color:red;}
    .positive{color:#9CD400;}
    .neutral{color:#000000;}
</style>
 {% endblock %}
 {% block description %}
     <title>Bank of America Corp {{ currency}}  real-time Quote and sentiment</title>
     <meta name="description" content="Latest Bank of America Corp {{ currency}} share price with interactive charts, social sentiment, social comment, historical prices, comparative analysis, forecasts, business profile and more.">
 {% endblock %}

{% block body %}
<div id="dvChart_stock" class="my-container  ng-cloak" ng-controller="Chart_stockController" ng-init="init('{{ api }}', '{{ currency }}','{{ like }}')">
    <div ng-controller="Chart_stockController ">

        <section class="table">

            <div class="chart_search">
                <div class="container">
                    <div class="row">
                        <input class="search_input" type="text" placeholder="Search Instruments">
                    </div>
                </div>
            </div>
            <div class="container padding_non">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="chart_bitcoin-cont">
                            <div class="bitcoin_text-cont">
                                <div class="bitcoin_img-cont">
                                    <img class="bitcoin_img" ng-src="{[{allimg.img}]}" alt="{{ currency }}" >
                                </div>
                                <div class="bitcoin_text-cont_left">
                                    <h3 class="bitcoin_title">{[{allimg.name}]}<span class="bitcoin_title_right">{{ currency }}</span><span class="bitcoin_title_right-start"><i class="fas fa-star"></i></span></h3>
                                    <p class="statistics_block_green-text" ng-class="{'live_block_money_red ': mystock.change24 < 0, 'live_block_money_green ': mystock.change24 >= 0}">{[{mystock.change24}]}% <span class="statistics_block_min-text">{[{mystock.point}]}</span>
                                        <span class="bitcoin_green-text_icon"><i class="fas fa-share"></i></span></p>
                                    <h3 class="bitcoin_many bitcoin_many-mobile" ng-class="{'negative': mystock.variation == 'down', 'positive':mystock.variation == 'up', 'neutral': mystock.variation == 'none'}">{[{mystock.price}]}$</h3>
                                    <p class="bitcoin_bottom-text">
                                        High: <span class="bitcoin_bottom-text_bold">{[{mystock.high24}]}$</span> Low:<span class="bitcoin_bottom-text_bold">{[{mystock.low24}]}$</span>
                                        Open: <span class="bitcoin_bottom-text_bold">{[{mystock.open24}]}$</span>
                                        {#Close: <span class="bitcoin_bottom-text_bold">$7.24K</span>#}
                                        {#Market Cap: <span class="bitcoin_bottom-text_bold">$129.13K</span>#}
                                    </p>
                                </div>
                                <div class="bitcoin_text-cont_right">
                                    <h3 class="bitcoin_many xs-none" ng-class="{'negative': mystock.variation == 'down', 'positive':mystock.variation == 'up', 'neutral': mystock.variation == 'none'}">{[{mystock.price}]}$</h3>
                                    <a class="btcoin_btn" href="https://borthy-carges.com/52ab982b-11ad-4f87-81cb-3a44c3ea65d5" target="_blank">TRADE NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-5 col-xs-12 ">
                        <div class="chart_bitcoin-reting">
                            <p class="chart_bitcoin-reting_like-text"><span class="chart_bitcoin-reting_icon"><i class="fas fa-thumbs-up"></i></span> {[{allimg.likes}]}</p>
                            <p class="chart_bitcoin-reting_like-text"><span class="chart_bitcoin-reting_icon"><i class="fas fa-thumbs-down"></i></span> {[{allimg.unlikes}]}</p>
                            <p class="chart_bitcoin-reting_prozent">Sentiment: {[{allimg.sentiment}]}% Buying</p>
                            <div class="chart_bitcoin-reting_progress-bar">
                                <div class="reting_progress-bar_click"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-7 col-xs-12 xs-none">
                        <div class="chart_content-text">
                            <p class="chart_content-text_info">{{ currency}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="general-chart">
                        <img class="general-chart_img" src='{{asset("img/chart.png")}}' alt="chart">
                    </div>
                </div>
            </div>


        </section>


        </div>

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('js/Chart_stock.js') }}"></script>
{% endblock %}