{% extends 'base.html.twig' %}

 {% block description %}
     <title> {{currency}} Price Chart Real-time price, sentiment, chart:</title>
     <meta name="description" content="Live  {{ currency}} Bitcoin chart. Free online platform for market analysis.Sentiment from real traders, online discussion, international coverage, technical indicators & latest news.">
 {% endblock %}


{% block body %}
    <link rel="stylesheet" href="https://www.interactivecrypto.com/chart_iq_web/css/perfect-scrollbar.css" />
    <link rel="stylesheet" type="text/css" href="https://www.interactivecrypto.com/chart_iq_web/css/normalize.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="https://www.interactivecrypto.com/chart_iq_web/css/page-defaults.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="https://www.interactivecrypto.com/chart_iq_web/css/stx-chart.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="https://www.interactivecrypto.com/chart_iq_web/css/chartiq.css" media="screen" />

    <style>
        .negative{color:red;}
        .positive{color:#9CD400;}
        .neutral{color:#000000;}
        #selectObjectId{border-style: solid;border-width:1px;border-color:#e2b000;height:40px;font-family: roboto;color: white;}
        ::placeholder {color: white;}
        #tags{font-family: roboto;border-color:#e2b000;height:40px;font-weight: 300;background: #1C2A35;color: white;height: 37px;border: 1px solid black;font-size:18px;margin-left:1.5%;}
        .ui-autocomplete {font-family: roboto;max-height: 300px;overflow-y: auto;overflow-x: hidden;padding-right: 20px}
        #selectExchange{background: #1C2A35;color: white;height: 42px;width:100%;border: 1px solid black;font-family: roboto;font-size:20px;font-weight: 300;margin-left:1%;}
        .buy_button {font-family :roboto;background-color: #007f02  ;font-weight:400;font-size:20px;text-align:center;color:#ffffff;height:47px;width:5%;border: 2px solid #007f02 ;border-radius: 7px;margin-left:44%;margin-top:0.5%;}
        .sell_button {font-family :roboto;background-color: #d20000 ;font-weight:400;font-size:20px;text-align:center;color:#ffffff;border:none;height:47px;width:120px;border: 2px solid #d20000 ;border-radius: 7px;margin-left:1%;}
        .ciq-night cq-attrib-container {visibility:hidden;}
        .price_up {background-color: #b0e4ad;}
        .price_down {background-color: #f9c2c2;}
        .up{color: green;}
        .down {color: red;}
        .trade_button {font-family: roboto;font-size:16px;font-weight: 200;text-align: left;color:white;color: blue;height: 40px;width: 40px;}
        cq-chart-title cq-chart-price {font-size:20px ;width : 150px;}
        cq-current-price{margin-left:0;width: 50px;}
        cq-lookup-icon {position:absolute;height:27px;width: 27px;right:15px;top:-9px;background-image:url('{{asset("img/stx-sprite-ui.svg")}}');background-position: -45px -25px;opacity: .6;left: 90%;transition: opacity .20s 0s;}
        cq-chart-title cq-chart-price {display:inline-block;line-height:20px;font-size:20px;margin-left:5px;font-weight:500;vertical-align:text-bottom;}
        cq-chart-title cq-symbol {font-size:40px;}
        /*cq-context {position: absolute;height: 650px; width:100%;}*/
        /*.general_chart2{padding-right: 0px; padding-left: 0px; padding-bottom: 0px;padding-bottom: 0px;}*/
        cq-context {height: 650px; }
    </style>



    {#***************************************************************************************************************#}



<div id="dvChart" class="my-container ng-cloak" ng-controller="ChartController" ng-init="init('{{ api }}', '{{ from }}', '{{ to }}','{{ like }}')">
    <div ng-controller="ChartController ">
        <section class="table">
            <div class="chart_search">
                <div class="container">
                    <div class="row">
                        <input class="search_input" type="text" placeholder="Search Instruments">
                    </div>
                </div>
            </div>
            <div class="container padding_non">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="chart_bitcoin-cont">
                            <div class="bitcoin_text-cont">
                                <div class="bitcoin_img-cont">
                                    <img class="bitcoin_img" ng-scr="{[{allimg.img}]}" alt="{[{mycrypto.fromSymbol}]}" >
                                </div>
                                <div class="bitcoin_text-cont_left">
                                    <h3 class="bitcoin_title">{[{allimg.name}]}<span class="bitcoin_title_right">{[{mycrypto.fromSymbol}]}/{[{mycrypto.toSymbol}]}</span><span class="bitcoin_title_right-start"><i class="fas fa-star"></i></span></h3>
                                    <p class="statistics_block_green-text" ng-class="{'negative': mycrypto.change24 < 0, 'positive': mycrypto.change24 >= 0}">{[{mycrypto.change24}]}% <span class="statistics_block_min-text">{[{mycrypto.point}]}</span>
                                        <span class="bitcoin_green-text_icon"><i class="fas fa-share"></i></span></p>
                                    <h3 class="bitcoin_many bitcoin_many-mobile" ng-class="{'negative': mycrypto.variation == 'down', 'positive':mycrypto.variation == 'up', 'neutral': mycrypto.variation == 'none'}">{[{mycrypto.price}]}</h3>
                                    <p class="bitcoin_bottom-text">
                                        High: <span class="bitcoin_bottom-text_bold">{[{mycrypto.high24}]}</span>
                                        Low:<span class="bitcoin_bottom-text_bold">{[{mycrypto.low24}]}</span>
                                        <br> Open: <span class="bitcoin_bottom-text_bold">{[{mycrypto.open24}]}</span>
                                        Close: <span class="bitcoin_bottom-text_bold">{[{mycrypto.price}]}</span>
                                        <br> Market Cap: <span class="bitcoin_bottom-text_bold">{[{mycrypto.Maketcap}]}</span>
                                    </p>
                                </div>
                                <div class="bitcoin_text-cont_right">
                                    <h3 class="bitcoin_many xs-none" ng-class="{'negative': mycrypto.variation == 'down', 'positive':mycrypto.variation == 'up', 'neutral': mycrypto.variation == 'none'}">{[{mycrypto.price}]}</h3>
                                    <a class="btcoin_btn" href="http://borthy-carges.com/98dd47bc-5797-47bf-847a-784a2445ee36" target="_blank">TRADE NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-5 col-xs-12 ">
                        <div class="chart_bitcoin-reting">
                            <p class="chart_bitcoin-reting_like-text"><span class="chart_bitcoin-reting_icon"><i class="fas fa-thumbs-up"></i></span> {[{allimg.likes}]}</p>
                            <p class="chart_bitcoin-reting_like-text"><span class="chart_bitcoin-reting_icon"><i class="fas fa-thumbs-down"></i></span> {[{allimg.unlikes}]}</p>
                            <p class="chart_bitcoin-reting_prozent">Sentiment: {[{allimg.sentiment }]}% Buying</p>
                            <div class="chart_bitcoin-reting_progress-bar">
                                <div class="reting_progress-bar_click"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-7 col-xs-12 xs-none">
                        <div class="chart_content-text">
                            <p class="chart_content-text_info">
                                {{ currency}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="general-chart">
                        <img class="general-chart_img" src='{{ asset("img/chart.png") }}' alt="chart">
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/Chart_crypto.js') }}"></script>
    <script>
        function loadCSS(hf) {
            var ms = document.createElement("link");
            ms.rel = "stylesheet";
            ms.href = hf;
            document.getElementsByTagName("head")[0].appendChild(ms);
        }

        loadCSS('{{asset("css/charts.css" )}}');
        {#loadCSS('{{asset("css/comment.css" )}}');#}

    </script>
{% endblock %}