{% extends 'base.html.twig' %}

 {% block description %}
     <title> {{currency}} Price Chart Real-time price, sentiment, chart:</title>
     <meta name="description" content="Live {{ currency}} Bitcoin chart. Free online platform for market analysis.Sentiment from real traders, online discussion, international coverage, technical indicators & latest news.">
 {% endblock %}


{% block body %}

<div id="dvChart" class="my-container ng-cloak" ng-controller="ChartController" ng-init="init('{{ api }}', '{{ from }}', '{{ to }}','{{ like }}')">
    <div ng-controller="ChartController ">
        <section class="table">
            <div class="chart_search">
                <div class="container">
                    <div class="row">
                        <input class="search_input" type="text" placeholder="Search Instruments">
                    </div>
                </div>
            </div>
            <div class="container padding_non">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="chart_bitcoin-cont">
                            <div class="bitcoin_text-cont">
                                <div class="bitcoin_img-cont">
                                    <img class="bitcoin_img" ng-scr="{[{allimg.img}]}" alt="{[{mycrypto.fromSymbol}]}" >
                                </div>
                                <div class="bitcoin_text-cont_left">
                                    <h3 class="bitcoin_title">{[{allimg.name}]}<span class="bitcoin_title_right">{[{mycrypto.fromSymbol}]}/{[{mycrypto.toSymbol}]}</span><span class="bitcoin_title_right-start"><i class="fas fa-star"></i></span></h3>
                                    <p class="statistics_block_green-text" ng-class="{'negative': mycrypto.change24 < 0, 'positive': mycrypto.change24 >= 0}">{[{mycrypto.change24}]}% <span class="statistics_block_min-text">{[{mycrypto.point}]}</span>
                                        <span class="bitcoin_green-text_icon"><i class="fas fa-share"></i></span></p>
                                    <h3 class="bitcoin_many bitcoin_many-mobile" ng-class="{'negative': mycrypto.variation == 'down', 'positive':mycrypto.variation == 'up', 'neutral': mycrypto.variation == 'none'}">{[{mycrypto.price}]}</h3>
                                    <p class="bitcoin_bottom-text">
                                        High: <span class="bitcoin_bottom-text_bold">{[{mycrypto.high24}]}</span>
                                        Low:<span class="bitcoin_bottom-text_bold">{[{mycrypto.low24}]}</span>
                                        <br> Open: <span class="bitcoin_bottom-text_bold">{[{mycrypto.open24}]}</span>
                                        Close: <span class="bitcoin_bottom-text_bold">{[{mycrypto.price}]}</span>
                                        <br> Market Cap: <span class="bitcoin_bottom-text_bold">{[{mycrypto.Maketcap}]}</span>
                                    </p>
                                </div>
                                <div class="bitcoin_text-cont_right">
                                    <h3 class="bitcoin_many xs-none" ng-class="{'negative': mycrypto.variation == 'down', 'positive':mycrypto.variation == 'up', 'neutral': mycrypto.variation == 'none'}">{[{mycrypto.price}]}</h3>
                                    <a class="btcoin_btn" href="http://borthy-carges.com/98dd47bc-5797-47bf-847a-784a2445ee36" target="_blank">TRADE NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-5 col-xs-12 ">
                        <div class="chart_bitcoin-reting">
                            <p class="chart_bitcoin-reting_like-text"><span class="chart_bitcoin-reting_icon"><i class="fas fa-thumbs-up"></i></span> {[{allimg.likes}]}</p>
                            <p class="chart_bitcoin-reting_like-text"><span class="chart_bitcoin-reting_icon"><i class="fas fa-thumbs-down"></i></span> {[{allimg.unlikes}]}</p>
                            <p class="chart_bitcoin-reting_prozent">Sentiment: {[{allimg.sentiment }]}% Buying</p>
                            <div class="chart_bitcoin-reting_progress-bar">
                                <div class="reting_progress-bar_click"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-7 col-xs-12 xs-none">
                        <div class="chart_content-text">
                            <p class="chart_content-text_info">
                                {{ currency}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="general-chart">
                        <img class="general-chart_img" src='{{ asset("img/chart.png") }}' alt="chart">
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/Chart_crypto.js') }}"></script>
    <script>
        function loadCSS(hf) {
            var ms = document.createElement("link");
            ms.rel = "stylesheet";
            ms.href = hf;
            document.getElementsByTagName("head")[0].appendChild(ms);
        }

        loadCSS('{{asset("css/charts.css" )}}');
        {#loadCSS('{{asset("css/comment.css" )}}');#}

    </script>
{% endblock %}