{% extends 'base.html.twig' %}

{% block description %}
    <title> Plus500 Review | Plus500 2018 Full Review - TradingCompare
    </title>
    <meta name="description" content="Established  in 2008, Plus500 is one of the top Contracts for Difference (CFDs) brokerage firm dealing in financial instruments such as ETF, shares, Forex, market indices, cryptocurrencies, and commodities. Plus500 is in the ownership of Plus500 Ltd. which is listed on the London Stock Exchange. The web platform has gained fame for its simplicity and ease of use.">
{% endblock %}

{% block body %}
    <link rel="stylesheet" href='{{asset("css/footer.css")}}' />
    <p class="table">
        <div class="chart_search ">
            <div class="container">
    <p class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 ">
            <div class="review_top-brandn">
                <div class="review_top-brandna_left">
                    <div class="review_top-brandna_left_relative">
                        <img class="review_top-brandn_img" src='{{asset("img/500.gif")}}' alt="Plus500">
                        <h2 class="review_topreview_top-brandn_title ">Plus500 Review</h2>
                        <div class="progress-bar-conatiner sm-none">
                            <canvas class="progress-bar-rel" id="canvas" width="100" height="100"></canvas>
    <p class="progress-bar_number">9.8</p>
    </div>
    </div>
    </div>
    <div class="review_top-brandna_right">
        <a class="review_visit-btn" href="http://borthy-carges.com/f8785515-d4f8-461f-a319-f861734c8662" target="_blank">VISIT SITE
        </a>
        <p class="review_deposit">$100 <span class="review_deposit_normal">Min Deposit</span></p>
        <p class="review_deposit">Demo account & tight spreads</p>
    </div>
    </div>
    </div>

    <p class="review_top-text review_margin-top">&nbsp;	&nbsp;	&nbsp;
        Established a decade ago in 2008, Plus500 is one of the top Contracts for Difference (CFDs) brokerage firm dealing in financial instruments such as ETF, shares, Forex, market indices, cryptocurrencies, and commodities. Plus500 is in the ownership of Plus500 Ltd. which is listed on the London Stock Exchange. The web platform has gained fame for its simplicity and ease of use.
    </p>
    <p class="review_top-text review_margin-top">Plus500 has been a recipient of many recognitions and awards from industry observers for its high quality of service. Traders who are looking for a premium and professional trading experience can rely on Plus500 to deal in a wide range of CFDs belonging to different asset classes.</p>
    <div class="review_general-container-img "><img class="review_top-brandn_img" src='{{asset("img/Reviews/Plus500/plus500-review.PNG")}}' alt="plus500-review"></div>

    <h2 class="review_top-title review_margin-top">Strong Privacy & Security</h2>
    <p class="review_top-text review_margin-top">As a trading platform in the UK, Plus500 carries out its operations under Plus500UK Ltd which adheres to the regulations of Financial Conduct Authority (FCA). The platform also operates as a subsidiary of Plus500CY Ltd that adheres to Cyprus Securities and Exchange Commission (CySEC). In Australia, New Zealand and South Africa, all the operations of the trading platform come under Australian Securities and Investments Commission (ASIC).</p>
    <p class="review_top-text review_margin-top">Being in the business for 10 years, Plus500 has a strong identity and reputation in the industry. Company is publicly listed and complies with global laws and multiple regulatory bodies in Cyprus, Australia, and UK. Moreover, all the clients' funds are held in a separate bank account and the company uses its own funds for hedging purposes. Plus500 doesn't funnel clients' money in any way to hedging counter parties nor does it initiate speculation in the financial market.</p>
    <div class="review_general-container-img "><img class="review_top-brandn_img" src='{{asset("img/Reviews/Plus500/security-plus500.PNG")}}' alt="security-plus500"></div>

    <h2 class="review_top-title review_margin-top">Trading Software</h2>
    <p class="review_top-text review_margin-top">Plus500 offers an extensive and simple to utilize proprietary trading platform and specialized technical analysis system for the traders. The trading platform enables the investor to invest in different markets from the same screen and notifies the traders with real time quotes for all the assets. You can deal CFDs on Forex, cryptocurrencies, stocks, indices, ETFs and commodities. </p>
    <p class="review_top-text review_margin-top">Other than its convenience, the fundamental preferred standpoint of the Plus500 trading platform comprises in a comprehensive trading screen with simply named tabs on top for related details on previous and current trades. Software the draws charts is incorporated in the trading platform, however charts show up separately, since the charting system does not display various charts at once on the same screen. Scalping isn't permitted by Plus500 terms and conditions.</p>


    <h2 class="review_top-title review_margin-top">Trading Markets on Plus500 </h2>
    <p class="review_top-text review_margin-top"><a href="https://www.plus500.com/Trading/CryptoCurrencies" target="_blank">Cryptocurrency</a>- You can trade a wide range of cryptocurrencies CFDs with Plus500. Traders are allowed to invest in most popular cryptocurrencies with leverage including Bitcoin, Ethereum, Bitcoin, Bitcoin Cash, NEO, Litecoin, Ripple, Monero, EOS and more.</p>
    <p class="review_top-text review_margin-top"><ul class="review_top-text review_margin-top">
    <li>Plus500 allows you to invest in 9 different cryptocurrencies.</li>
    <li>These currencies include Bitcoin, Ethereum/Bitcoin pair, Bitcoin Cash, Ethereum, NEO, Litecoin, Ripple, EOS and Monero.</li>
    <li>The broker enables you to trade cryptocurrencies with up to 1:20 leverage.</li>
    <li>The minimum trading amount is only $100.</li>
    <li>Stop Loss and Trailing Stop options allow traders to manage their risk by restricting losses on volatile assets.</li>
    <li>Plus500 brings around the clock trading which means you don't have to miss out on weekends.</li>
</ul></p>
    <div class="review_general-container-img "><img class="review_top-brandn_img" src='{{asset("img/Reviews/Plus500/crypto-plus500.PNG")}}' alt="crypto-plus500"></div>


    <p class="review_top-text review_margin-top"><a href="https://www.plus500.com/Trading/Indices" target="_blank">Indices</a> - Plus500 enables traders to trade index CFDs from around the world including USA 500, NASDAQ 100 and France 40 with leverage.</p>
    <p class="review_top-text review_margin-top"><ul class="review_top-text review_margin-top">
    <li>On Plus500, traders can find themselves investing in 26 different indices.</li>
    <li>These include Hong Kong 50, US-TECH 100, Germany 30, China A50, Italy 40, Austria 20, Singapore 27, Poland 20, VIX, Europe 50, Spain 35, France 40, USA 500, Norway 25, USA 2000, USA 30, Netherlands 25, Swiss 20, Denmark 25, Japan 225, UK 100, ASX 200, Sweden 30, Germany MCap, Hungary 12 and Greece 26.</li>
    <li>You are allowed to magnify your investments by leveraging your deposited capital up to 1:300.</li>
    <li>Minimum trading amount is only $100.</li>
    <li>Traders also get completely free real-time streaming quotes.</li>
    <li>You can fund your account using multiple payment modes including credit card, bank transfer, PayPal and Skrill.</li>
</ul></p>
    <div class="review_general-container-img "><img class="review_top-brandn_img" src='{{asset("img/Reviews/Plus500/indices-plus500.PNG")}}' alt="indices-plus500"></div>


    <p class="review_top-text review_margin-top"><a href="https://www.plus500.com/Trading/Forex" target="_blank">Forex </a>- As one of the largest trade markets, Plus500 gives traders the opportunity to trade Forex CFDs. You can trade the vastly invested in forex pairs such as EUR & USD, GBP & USD and EUR & GBP. Not only that, you can use Plus500's modern trading tools to safeguard your profits and restrict losses.</p>
    <p class="review_top-text review_margin-top"><ul class="review_top-text review_margin-top">
    <li>On Plus500, traders have the option to invest in 47 different currency pairs.</li>
    <li>These currency pairs include EUR/GBP, EUR/USD, USD/JPY, AUD/JPY, GBP/USD, AUD/CAD, EUR/AUD, EUR/SEK, EUR/JPY, NZD/USD, GBP/NZD, GBP/DKK, GBP/JPY, USD/CAD, AUD/USD,, USD/ZAR, GBP/AUD, USD/CHF, EUR/NZD, GBP/CAD, AUD/CHF, AUD/NZD, AUD/SGD, CAD/CHF, CAD/JPY, CHF/DKK, CHF/JPY, CHF/NOK, CHF/SEK, DKK/NOK, EUR/CAD, EUR/CHF, EUR/CZK, EUR/HUF, EUR/MXN, EUR/NOK, EUR/PLN, Dollar Index, EUR/SGD, EUR/TRY, GBP/CHF, GBP/NOK, GBP/SEK, GBP/ZAR, NZD/CHF, NZD/JPY and SEK/NOK.</li>
    <li>Forex trades can be leveraged up to 1:300.</li>
    <li>Minimum capital required to start forex trading is only $100.</li>
    <li>Plus500 also gives traders risk management tools such Stop Loss, Guaranteed Stop and Stop limit so traders can restrict their losses.</li>
    <li>You also have access to completely free real time forex quotes.</li>
</ul></p>
    <div class="review_general-container-img "><img class="review_top-brandn_img" src='{{asset("img/Reviews/Plus500/forex-plus500.PNG")}}' alt="forex-plus500"></div>


    <p class="review_top-text review_margin-top"><a href="https://www.plus500.com/Trading/Commodities" target="_blank">Commodities</a> - Commodity CFDs trading is also available at Plus500. Investors, both amateur and professional, can trade a wide variety of popular commodity CFDs with leverage including gold, oil and silver.</p>
    <p class="review_top-text review_margin-top"><ul class="review_top-text review_margin-top">
    <li>On Plus500, you have the option to invest in 18 different types of commodities belonging in Precious Metal, Energy and Agriculture categories.</li>
    <li>Precious metals include Gold, Platinum, Silver, Palladium and copper; energy sector commodities include Oil, Natural Gas, Gasoline, Heating Oil and Brent Oil while Agricultural commodities include Soybeans, Coffee, Sugar, Cotton, Wheat, Cocoa, Live Cattle and Corn.</li>
    <li>These commodities can be leveraged up to 1:152.</li>
    <li>Minimum capital required for investment is only $100.</li>
    <li>Plus500 provides traders with negative balance protection so they can minimize their risk.</li>
    <li>There are also other controls in place such as Stops and Limits to close the trade at a certain point.</li>
    <li>You also have the option to use Guaranteed Stop to prevent slippage.</li>
</ul></p>
    <div class="review_general-container-img "><img class="review_top-brandn_img" src='{{asset("img/Reviews/Plus500/commodities.PNG")}}' alt="commodities"></div>


    <p class="review_top-text review_margin-top"><a href="https://www.plus500.com/Trading/Stocks" target="_blank">Shares </a>- On Plus500, traders can also engage in the trade of share CFDs. Plus500 is a trading platform that enables you to invest in stocks from all popular global markets such as USA, UK, Germany and more, with leverage and low spreads. With platform's modern trading tools, you are also in the position to limit your losses and protect your profits.</p>
    <p class="review_top-text review_margin-top"><ul class="review_top-text review_margin-top">
    <li>On Plus500, you can invest in stocks from 23 different countries.</li>
    <li>These countries include USA, UK, Australia, Germany, France, Italy, Portugal, Greece, Japan, Holland, Finland, Belgium, Denmark, Sweden, Switzerland, Spain, Austria, Norway, Hungary, Czech Republic, Ireland, Poland and Hong Kong.</li>
    <li>Those traders who aren't sure about which stocks to invest in have the option to consider Popular Shares that include Nissan, Panasonic, Netflix, Gartner, Nintendo, Homeserve and more.</li>
    <li>Plus500 allows flexible trading of CFDs.</li>
    <li>Trades can be leveraged up to as high as 1:300.</li>
    <li>Minimum amount of capital required for investment is only $100.</li>
    <li>With specified limits and stops, traders can minimize their risk.</li>
    <li>There is also a Guaranteed Stop feature that prevents slippage.</li>
</ul></p>
    <div class="review_general-container-img "><img class="review_top-brandn_img" src='{{asset("img/Reviews/Plus500/shares-plus500.PNG")}}' alt="shares-plus500"></div>


    <p class="review_top-text review_margin-top"><a href="https://www.plus500.com/Trading/Options" target="_blank">Options<a/> - Traders can invest in options CFDs at Plus500. Both put and call options on Italy 40, Germany 30, and Facebook are easily accessible for trading along with high leverage. You can also trade on volatility with Plus500's flexible options CFDs.</p>
    <p class="review_top-text review_margin-top"><ul class="review_top-text review_margin-top">
    <li>On Plus500, you have 13 different options to choose from for trading.</li>
    <li>The options include Alphabet, Facebook, Apple, Snap, Germany 30, France 40, UK 100, Netherlands 25, USA 500, Italy 40, DeutscheBank, Europe 50 and Twitter.</li>
    <li>There is also a category of Popular Options for those who are unsure.</li>
    <li>Trades can be leveraged up to 1:5 and traders can start investing with as little capital as $100.</li>
    <li>There are many controls in place such as price alerts, Stop Loss and Trailing Stop for risk management. You can specify positions for closing your trade to restrict losses.</li>
</ul></p>
    <div class="review_general-container-img "><img class="review_top-brandn_img" src='{{asset("img/Reviews/Plus500/options-plus500.PNG")}}' alt="options-plus500"></div>


    <p class="review_top-text review_margin-top"><a href="https://www.plus500.com/Trading/Etfs" target="_blank">ETFs </a>- When you are looking to give some stability to your portfolio you can invest in ETFs CFDs at Plus500. Investors can trade on some of the most popular ETFs such as VXX Volatility and SPDRUSA500 with leverage. You can also control your profits and losses by setting limits.</p>
    <p class="review_top-text review_margin-top"><ul class="review_top-text review_margin-top">
    <li>Plus500 allows traders to invest in 81 different ETFs.</li>
    <li>These ETF instruments include QQQ, SPY, VXX, XLP, ERX, FAZ, EXW1.DE, SFY.AX, GDX, XME, EXS1.D, FXE, IAEX.AS, SPXU, CAC.PA, EWJ, ISF-L, EEM, AGQ, XLF, EWY, FXI, IWM, XLY, EDC, FAS, SPXL, TZA, TNA, XLE, XLV, XLI, TLT, DVY, IYR, IAU, HYG, LQD, EWZ, EFA, EWH, EWW, STW.AX, EWT, IWF, IWO, IWN, IJR, DIA, RSX, XLB, SH, QLD, SSO, UPRO, TBT, QID, TWM, SDS, JNK, XHB, MDY, XOP, XRT, XLK, XLU, VWO, VGK, VNQ, BND, VTI, ACWI, FEZ, USO, UNG, GLD, SLV, DBC, OIH, GOLD.AX and LIT.</li>
    <li>Trades on ETF instruments can be leveraged up to as high as 1:100.</li>
    <li>Minimum capital required for investment is only $100.</li>
    <li>Plus500 also offers free real time streaming quotes.</li>
    <li>You can make the full use of highly helpful customer support as well in the event that you have questions or concerns.</li>
</ul></p>
    <div class="review_general-container-img "><img class="review_top-brandn_img" src='{{asset("img/Reviews/Plus500/etf-plus500.PNG")}}' alt="etf-plus500"></div>

    <h2 class="review_top-title review_margin-top">Account Types</h2>
    <p class="review_top-text review_margin-top">On Plus500 trading platform, you can sign up for two types of account. The first type is a demo account which is free and without any time limitation. The other is a live account which requires the traders to deposit at least 200AUD. Signing up is quite easy and straightforward.</p>
    <p class="review_top-text review_margin-top">If you are a new investor or trader, it's recommended for you to sign up for a demo account before engaging in live trading. It will give you a chance to test your trader instincts and skills and the time to observe how market behaves. If required, you can get assistance with the Live Chat option.</p>
    <p class="review_top-text review_margin-top">For identity verification, you'll need identity number, full name, photo, date of birth. For residential address verification you'll need to provide any one of the following - credit card statement, bank statement, a utility bill, Council tax bill, phone bill, internet bill.</p>
    <div class="review_general-container-img "><img class="review_top-brandn_img" src='{{asset("img/Reviews/Plus500/account-plus500.PNG")}}' alt="account-plus500"></div>

    <h2 class="review_top-title review_margin-top">Deposits and Withdrawals</h2>
    <p class="review_top-text review_margin-top">Users who have signed up on Plus500 can make withdrawals and deposits through major credit cards like MasterCard or Visa. Funds can also be withdrawn and deposited with bank wire transfer, Skrill or PayPal. With wire transfer, there could be a delay of up to 5 days.</p>
    <p class="review_top-text review_margin-top">Depositing funds in your account is straightforward and can be done through Funds Management tab. There will be a minimum amount you need to deposit but it may vary from country to country. Similarly, withdrawing money is quite easy as well. Withdrawal requests are processed within 3 business days and just like deposit, there's a minimum amount that you need to withdraw. It depends on the mode of withdrawal.</p>

    <h2 class="review_top-title review_margin-top">Device Compatibility and User Interface</h2>
    <p class="review_top-text review_margin-top">Plus500 trading platform can be accessed through a web browser but it is also available in the form of application for mobile devices. You can trade on Plus500 if you are using a Windows, MacOS, iOS or Android device. Mobile apps of Plus500 are the highest rated on their respective app stores in the category of trading platform apps.</p>
    <p class="review_top-text review_margin-top">As far as the user interface is concerned, it is simple, easy to understand and to the point without any bloat. Trading screen features three primary sections along with the menu bar on the extreme left. Upper part of the trading screen shows the asset classes that you can trade while lower section shows a chart related to trading. You can also play with technical financial indicators that can be overlaid on the chart for enhanced financial analysis.</p>
    <p class="review_top-text review_margin-top">Apart from that, Plus500 brings many investor friendly features that can be used to minimize risk. For example, Close at Profit and Close at Loss features allow the investor to automatically terminate a trade if it reaches the specified profit or loss amount. There's also a Guaranteed Stop which enables the trader to put a limit on potential losses regardless of how badly the market is slipping. This feature really helps with markets that are too volatile. You can also get price alerts when a trade hits your designated price point, it doesn't terminate the trade just notifies the trader.</p>
    <div class="review_general-container-img "><img class="review_top-brandn_img" src='{{asset("img/Reviews/Plus500/user-interface-plus500.PNG")}}' alt="user-interface-plus500"></div>

    <h2 class="review_top-title review_margin-top">Fees and Charges</h2>
    <p class="review_top-text review_margin-top">When you're trading on a platform, you can't overlook the commission and fee the trading platform charges since it eats into your profits. Your trading cost can usually be divided into spread and commission. Plus500 doesn't charge you any commission on any trade, however, investors are supposed to pay spreads on the assets they're trading.</p>

    <h2 class="review_top-title review_margin-top">Conclusion</h2>
    <p class="review_top-text review_margin-top">Plus500 strikes the right balance of user friendliness, security and features to attract all types of traders including amateurs and professionals. With its low fee and easy and quick withdrawals, Plus500 offers a great trading platform that’s hard to skip from your consideration.</p>


    <p class="review_tags">TAGS: PLUS500, BROKERS, CRYPTO</p>
    <p class="review_share"><i class="fas fa-share"></i></p>
    <div class="review_cont-bottom-btn">
        <a class="review_visit-btn" href="http://borthy-carges.com/f8785515-d4f8-461f-a319-f861734c8662" target="_blank">VISIT SITE
        </a>
    </div>
    </div>
    </div>
    </div>

    <div class="general-chart">
        <div class="container">
            <div class="row">
                <div class="review_top-brandn">
                    <h2 class="review_topreview_top-brandn_title">More Forex Broker Reviews</h2>
                </div>
                <div class="review_collection">
                    <div class="review_collection_margin">
                        <div class="review_collection_block">
                            <div class="review_collection_block_top">
                                <img class="review_collection_block_logo" src='{{asset("img/netflix.png")}}' alt="netflix">
                                <p class="review_collection_block_title">24 Options</p>
                                <div class="review_collection_block_progress-bar">
                                    <canvas class="progress-bar-rel review_collection_block_progress-bar-rel" id="canvas3" width="70" height="70"></canvas>
                                    <p class="progress-bar_number">9.5</p>
                                </div>
                            </div>
                            <div class="review_list-cont sm-none">
                                <a href="{{path('24option') }}">
                                <p class="features-text"><span class="check-marks"><i class="fas fa-check"></i></span>  Social Trading lets you copy others</p>
                                <p class="features-text"><span class="check-marks"><i class="fas fa-check"></i></span>  Competitive Trading Fees</p>
                                <p class="features-text"><span class="check-marks"><i class="fas fa-check"></i></span>  Used by 6,000,000+ Traders</p>
                                </a>
                            </div>
                            <a class="review_collection_visit-btn" href="http://borthy-carges.com/9ac28959-def2-4c75-ae80-54eb7149674a" target="_blank">VISIT SITE</a>
                        </div>
                        <div class="review_collection_block">
                            <div class="review_collection_block_top">
                                <img class="review_collection_block_logo" src='{{asset("img/netflix.png")}}' alt="netflix">
                                <p class="review_collection_block_title">Plus 500</p>
                                <div class="review_collection_block_progress-bar">
                                    <canvas class="progress-bar-rel review_collection_block_progress-bar-rel" id="canvas4" width="70" height="70"></canvas>
                                    <p class="progress-bar_number">8.6</p>
                                </div>
                            </div>
                            <div class="review_list-cont sm-none">
                                <a href="{{ path('plus500') }}">
                                <p class="features-text"><span class="check-marks"><i class="fas fa-check"></i></span>  Trade CFDs on Popular Cryptocurrencies</p>
                                <p class="features-text"><span class="check-marks"><i class="fas fa-check"></i></span>  FREE Trading Signals for Limited time</p>
                                <p class="features-text"><span class="check-marks"><i class="fas fa-check"></i></span>  Access all Financial Markets in one place</p>
                                </a>
                            </div>
                            <a class="review_collection_visit-btn" href="http://borthy-carges.com/f8785515-d4f8-461f-a319-f861734c8662" target="_blank">VISIT SITE</a>
                        </div>
                        <div class="review_collection_block sm-none">
                            <div class="review_collection_block_top">
                                <img class="review_collection_block_logo" src='{{asset("img/netflix.png")}}' alt="netflix">
                                <p class="review_collection_block_title">Alxevo</p>
                                <div class="review_collection_block_progress-bar">
                                    <canvas class="progress-bar-rel review_collection_block_progress-bar-rel" id="canvas5" width="70" height="70"></canvas>
                                    <p class="progress-bar_number">8.6</p>
                                </div>
                            </div>
                            <div class="review_list-cont sm-none">
                                <a href="{{ path('alvexo') }}">
                                <p class="features-text"><span class="check-marks"><i class="fas fa-check"></i></span>  Demo and Islamic Account Offered</p>
                                <p class="features-text"><span class="check-marks"><i class="fas fa-check"></i></span>  Regulated Broker</p>
                                <p class="features-text"><span class="check-marks"><i class="fas fa-check"></i></span>  Comprehensive Trading Tools</p>
                                </a>
                            </div>
                            <a class="review_collection_visit-btn" href="http://borthy-carges.com/7f38eacd-c5d3-4680-9085-46708b0f92e2" target="_blank">VISIT SITE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock %}

{% block javascripts %}

    <script>
        function loadCSS(hf) {
            var ms = document.createElement("link");
            ms.rel = "stylesheet";
            ms.href = hf;
            document.getElementsByTagName("head")[0].appendChild(ms);
        }

        loadCSS('{{asset("css/footer.css")}}');
        loadCSS('{{ asset("font/font_avenir.css")}}');
        loadCSS('{{ asset("css/compiled-review.min.css")}}')
        loadCSS("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
        loadCSS("https://fonts.googleapis.com/css?family=Hind+Siliguri:300,400,500,600,700");
        loadCSS("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
        // loadCSS("css/comment.css")

        //User Styles: Main
        //User Styles: Media
    </script>

    <!-- Load CSS compiled without Bootstrap & Header styles (after release) -->
    <script>var ms = document.createElement("link");
        ms.rel = "stylesheet";
        ms.href = '{{ asset("css/compiled.min.css")}}';
        document.getElementsByTagName("head")[0].appendChild(ms);
    </script>

    <!-- Load Scripts -->
    <script>var scr = {
            "scripts": [
                {"src": '{{ asset("js/jquery-3.3.1.min.js")}}', "async": false},
                {"src": '{{ asset("js/plugin.js")}}', "async": false},
                {"src": '{{ asset("js/general.js")}}', "async": false},
                {"src": '{{ asset("js/common.js")}}', "async": false},
                {"src": "https://use.fontawesome.com/releases/v5.0.10/js/all.js", "async": false},

            ]
        };
        !function (t, n, r) {
            "use strict";
            var c = function (t) {
                if ("[object Array]" !== Object.prototype.toString.call(t)) return !1;
                for (var r = 0; r < t.length; r++) {
                    var c = n.createElement("script"), e = t[r];
                    c.src = e.src, c.async = e.async, n.body.appendChild(c)
                }
                return !0
            };
            t.addEventListener ? t.addEventListener("load", function () {
                c(r.scripts);
            }, !1) : t.attachEvent ? t.attachEvent("onload", function () {
                c(r.scripts)
            }) : t.onload = function () {
                c(r.scripts)
            }
        }(window, document, scr);
    </script>

{% endblock %}