{% extends 'base.html.twig' %}
{% block body %}


    {#<div id="dvSocial">#}
        <div ng-app="myApp" ng-controller="SocialController ">
            <div ng-init="init()" >
                {[{ firstName }]}
                {#<img class="general-chart_img" src='{{asset("img/coinbase app.png")}}' alt="chart">#}
            </div>
        </div>
    {#</div>#}
    <script src="{{ asset('js/Social_bar.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/comment.css') }}" >
    <script data-require="angular-ui-bootstrap@0.3.0" data-semver="2.5.0" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <section class="table">
        <div class="container">
            <div class="row">
                <div class="general-chart">
                    {#<img class="general-chart_img" src='{{asset("img/chart.png")}}' alt="chart">#}

                    <div class="tab">
                        <button class="tablinks" onclick="openCity(event, 'comments')" id="defaultOpen" >COMMENTS</button>
                        <button class="tablinks" onclick="openCity(event, 'news')">NEWS</button>
                        <button class="tablinks" onclick="openCity(event, 'social')">SOCIAL</button>
                    </div>

                    <div id="news" class="tabcontent">
                        <hr>

                        <div class="comments_user-cont">
                            <div class="news-cont_img">
                                <img class="comments_user-img" src='{{asset("img/coinbase app.png")}}'  alt="france">
                            </div>
                            <div class="comments_user-cont_text">
                                <h4 class="comments_user-cont_name">This established VPN is very impressive, speeds are excellent and privacy is placed at a premium. A fair sized network that covers all the main locations you’ll need. Great client software that includes an auto-reconnect and an option to close specific programs.
                                </h4>
                                <p class="comments_user-text">Sarah </p>
                                <ul class="comments_user-text_reply">
                                    Like
                                    <li class="mu-reply">4 h. ago</li>
                                    <li class="mu-reply"><a>Reply</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="review_cont-btn">
                            <a class="review_more-btn">MORE COMMENTS</a>
                        </div>
                        {#<h3>Paris</h3>#}
                        {#<p>Paris is the capital of France.</p>#}
                    </div>


                    {#/************************************************************************************/#}
                    <div id="social" class="tabcontent">
                        <h3>Tokyo</h3>
                        <p>Tokyo is the capital of Japan.</p>
                    </div>

                    {#/************************************************************************************/#}
                    <div id="comments" class="tabcontent">
                        <hr>
                        <form class="comments-form">
                            <div class="comments-form_left">
                                <div class="comments-form_cont comments-form_cont_left">
                                    <input type="text" class="comments_input" placeholder="Name" required>
                                </div>
                                <div class="comments-form_cont comments-form_cont_right margin-top-mobile">
                                    <input type="email" class="comments_input" placeholder="Email" required>
                                </div>
                                <textarea class=" touch_your-comment" placeholder="Your comment..."></textarea>
                            </div>
                            <div class="comments-form_right ms-none">
                                <button type="submit" class="comment_btn">POST</button>
                            </div>
                            <div class="review_cont-btn ms-block">
                                <a class="review_more-btn">POST YOUR COMMENT</a>
                            </div>
                        </form>
                        <div class="comments_user-cont">
                            <div class="comments_user-cont_img">
                                <img class="comments_user-img" src='{{asset("img/Flags1/en.png")}}'  alt="france">
                            </div>
                            <div class="comments_user-cont_text">
                                <h4 class="comments_user-cont_name">Sarah</h4>
                                <p class="comments_user-text">This established VPN is very impressive, speeds are excellent and privacy is placed at a premium. A fair sized network that covers all the main locations you’ll need. Great client software that includes an auto-reconnect and an option to close specific programs.
                                </p>
                                <ul class="comments_user-text_reply">
                                    Like
                                    <li class="mu-reply">4 h. ago</li>
                                    <li class="mu-reply"><a>Reply</a></li>
                                </ul>

                            </div>
                        </div>
                        <div class="comments_user-cont">
                            <div class="comments_user-cont_img">
                                <img class="comments_user-img" src='{{asset("img/Flags1/en.png")}}'  alt="spain">
                            </div>
                            <div class="comments_user-cont_text">
                                <h4 class="comments_user-cont_name">John.S</h4>

                                <p class="comments_user-text">
                                    This VPN is one of the fastest and most secured VPN service providers in the market today. Their state of the art encryption and fast download and upload speed, makes their VPN service
                                </p>
                                <ul class="comments_user-text_reply">
                                    Like
                                    <li class="mu-reply">4 h. ago</li>
                                    <li class="mu-reply"><a>Reply</a></li>
                                </ul>

                            </div>
                            <div class="sub-comments">
                                <div class="comments_user-cont_img">
                                    <img class="comments_user-img" src='{{asset("img/Flags1/en.png")}}'  alt="france">
                                </div>
                                <div class="comments_user-cont_text">
                                    <h4 class="comments_user-cont_name">Samantha Parker</h4>
                                    <p class="comments_user-text">This VPN is one of the fastest and most secured VPN service providers in the market today. Their state of the art encryption and fast download and upload speed, makes their VPN service attractive to users who want to secure their data and information while conducting their activities online.</p>
                                    <ul class="comments_user-text_reply">
                                        Like
                                        <li class="mu-reply">4 h. ago</li>
                                        <li class="mu-reply"><a>Reply</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sub-comments">
                                <div class="comments_user-cont_img">
                                    <img class="comments_user-img" src='{{asset("img/Flags1/en.png")}}'  alt="spain">
                                </div>
                                <div class="comments_user-cont_text">
                                    <h4 class="comments_user-cont_name">John.S</h4>
                                    <p class="comments_user-text">Hi Samantha,<br>
                                        Thanks for your question. You can use ExpressVPN with many devices, including Roku and AppleTV, but none are necessary in order to use ExpressVPN. I hope that helps with your question!</p>
                                    <ul class="comments_user-text_reply">
                                        Like
                                        <li class="mu-reply">4 h. ago</li>
                                        <li class="mu-reply"><a>Reply</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="comments_user-cont">

                            <div class="comments_user-cont_img">
                                <img class="comments_user-img" src='{{asset("img/Flags1/en.png")}}'  alt="united-states-of-america">
                            </div>
                            <div class="comments_user-cont_text">
                                <h4 class="comments_user-cont_name">Andrew</h4>
                                <p class="comments_user-text">What is the cost per device? Does it have iPhone, mac, apple tv, iPad and window10 desktop?
                                </p>
                                <ul class="comments_user-text_reply">
                                    Like
                                    <li class="mu-reply">4 h. ago</li>
                                    <li class="mu-reply"><a>Reply</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="comments_user-cont border-none">
                            <div class="comments_user-cont_img">
                                <img class="comments_user-img" src='{{asset("img/Flags1/en.png")}}'  alt="united-kingdom">
                            </div>
                            <div class="comments_user-cont_text">
                                <h4 class="comments_user-cont_name">Tom Pitberg</h4>
                                <p class="comments_user-text">Express VPN is great. I never reached my usage limit.</p>
                                <ul class="comments_user-text_reply">
                                    Like
                                    <li class="mu-reply">4 h. ago</li>
                                    <li class="mu-reply"><a>Reply</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="review_cont-btn">
                            <a class="review_more-btn">MORE COMMENTS</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function loadCSS(hf) {
            var ms = document.createElement("link");
            ms.rel = "stylesheet";
            ms.href = hf;
            document.getElementsByTagName("head")[0].appendChild(ms);
        }
        loadCSS('{{asset("css/footer.css")}}');
        loadCSS('{{asset("font/font_avenir.css")}}');
        loadCSS("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
        loadCSS("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
        loadCSS('{{asset("css/charts.css")}}')
        loadCSS('{{asset("css/comment.css")}}')

    </script>
    <script>
        function openCity (evt, cityName) {
            console.log("hello")
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        document.getElementById("defaultOpen").click();
    </script>


{% endblock %}
