{% extends 'base.html.twig' %}

{% block description %}

{% endblock %}

{% block body %}

<div id="dvSocial">
    <div  ng-controller="Social_Sentiment_Ctrl">

    <section class="table">
        <p class="review_list_title font_title">Total Correct Predictions: <b style="color: red;">-2.3 %</b></p>
        <div class="review_list_cont-heder">
            <div class="abs">
                <div class="general_review_cont-block first_title">
                    <div class="review_list_center">
                        <p class="review_list_title social_coltitle_name font_col_title">Name</p>
                    </div>
                </div>
                <div class="general_review_cont-block middle_title ">
                    <div class="review_list_center">
                        <p class="review_list_title social_coltitle font_col_title">Sentiment</p>
                    </div>
                </div>
                <div class="general_review_cont-block middle_title">
                    <div class="review_list_center">
                        <p class="review_list_title social_coltitle font_col_title">Start Date</p>
                    </div>
                </div>
                <div class="general_review_cont-block middle_title">
                    <div class="review_list_center">
                        <p class="review_list_title social_coltitle font_col_title">Start Price</p>
                    </div>
                </div>
                <div class="general_review_cont-block middle_title">
                    <div class="review_list_center">
                        <p class="review_list_title social_coltitle font_col_title">Change</p>
                    </div>
                </div>
                <div class="general_review_cont-block last_title">
                    <div class="review_list_center">
                        <p class="review_list_title social_coltitle_close font_col_title">Close</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="review_list_cont-heder">
            <div class="abs">
                <div class="general_review_cont-block first_title">
                    <div class="review_list_center"style="padding-left: 5%">
                        <img class="live_block_top_img mobile_font" src="{{ asset('img/crypto_logos/bitcoin.png')}}" alt="coin">
                        <h2 class="live_block_top_title mobile_font_name">Bitcoin</h2>
                    </div>
                </div>
                <div class="general_review_cont-block middle_title">
                    <div class="review_list_center">
                        <p ng-if="!userLoggedIn"    style="margin: auto; text-align: center;" >
                            {#<span ng-click="click_on_star()" class="chart_bitcoin-reting_prozent_like"><i  class="button_sentiment_list button_bullish_list" target="_blank"><b>{{ 'button.bullish'|trans }}</b></i></span>#}
                            <span ng-click="click_on_star()" class="chart_bitcoin-reting_prozent_like"><i class="button_sentiment_list button_bearish_list mobile_font mobile_font_sent" target="_blank"   style="font-size: small;"  ><b>{{ 'button.bearish'|trans }}</b></i></span>
                        </p>
                    </div>
                </div>
                <div class="general_review_cont-block middle_title">
                    <div class="review_list_center">
                        <p class="live_block_money-right social_col"><span class="live_block_money_bold mobile_font">Aug 21, 2018</span>
                    </div>
                </div>
                <div class="general_review_cont-block middle_title">
                    <div class="review_list_center">
                        <p class="live_block_money-right social_col"><span class="live_block_money_bold mobile_font">8.001$</span>
                    </div>
                </div>
                <div class="general_review_cont-block  middle_title">
                    <div class="review_list_center"style="    padding-right: 35%">
                        <p class="live_block_money-right live_block_money_red live_block_money_border mobile_font mobile_font_change">-6.41%</p>
                    </div>
                </div>
                <div class="general_review_cont-block last_title">
                    <div class="review_list_center" style="width: 50%; margin-left: 25%">
                        <a class="live_trade-btn mobile_font ">CLOSE</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="table">
        <div style="height: 2em"></div>
        <p class="review_list_title font_title"style="text-align:left !important;padding-left: 5%;  ">Sentiment Leaderbord</p>
        <div class="review_list_cont-heder">
            <div class="abs">
                <div class="general_review_cont-block "style="width: 50%">
                    <div class="review_list_center">
                        <p class="review_list_title"style="text-align: left; padding-left: 5%">Name</p>
                    </div>
                </div>
                <div class="general_review_cont-block "style="width: 50%; ">
                    <div class="review_list_center">
                        <p class="review_list_title"style="text-align: right;padding-right: 5%;">% Correct</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="review_list_cont-heder">
            <div class="abs">
                <div class="general_review_cont-block "style="width: 50%">
                    <div class="review_list_center"style="padding-left: 5%">
                        <img class="live_block_top_img" src="{{ asset('img/flags/fr.png')}}" alt="name">
                        <h2 class="live_block_top_title" >Shoshana</h2>
                    </div>
                </div>
                <div class="general_review_cont-block  "style="width: 50%">
                    <div class="review_list_center">
                        <p class="live_block_money-right  "style="padding-right: 5%;"><span class="live_block_money_bold">35 %</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </div>
</div>

    <script data-require="angular-ui-bootstrap@0.3.0" data-semver="2.5.0" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
    <script src="{{ asset('js/service/Social_sentiment.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/compiled-feeds.css') }}" >
    <link rel="stylesheet" href="{{ asset('css/Social_sentiment.css') }}" >

    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

{% endblock %}
