<div class="review_list_cont-heder">
    <div class="abs">
        <div class="general_review_cont-block review_list_name">
            <div class="review_list_center">
                <p class="review_list_title">{{ 'instruments'|trans }}</p>
            </div>
        </div>
        <div class="general_review_cont-block review_list_cont-text ">
            <div class="review_list_center">
                <p class="review_list_title">{{ 'price'|trans }}</p>
            </div>
        </div>
        <div class="general_review_cont-block review_list_cont-text sm-none">
            <div class="review_list_center">
                <p class="review_list_title">{{ 'change'|trans }} %</p>
            </div>
        </div>
        <div class="general_review_cont-block review_list_cont-text sm-none">
            <div class="review_list_center">
                <p class="review_list_title">{{ 'high'|trans }}</p>
            </div>
        </div>
        <div class="general_review_cont-block review_list_cont-text">
            <div class="review_list_center">
                <p class="review_list_title"><span class="mobile-block">{{ 'high'|trans }}/</span>{{ 'low'|trans }}</p>
            </div>
        </div>
        <div class="general_review_cont-block review_list_cont-bar ms-none">
            <div class="review_list_center">
                <p class="review_list_title">{{ 'sentiment'|trans }}</p>
            </div>
        </div>
        <div class="general_review_cont-block review_list_cont-chart">
            <div class="review_list_center">
                <p class="review_list_title">{{ 'chart'|trans }}</p>
            </div>
        </div>
        <div class="general_review_cont-block review_list_cont-btn">
            <div class="review_list_center">
                <p class="review_list_title">{{ 'trade'|trans }}</p>
            </div>
        </div>
    </div>
</div>