{#{% extends 'base.html.twig' %}#}
{#{% block body %}#}
    <link rel="stylesheet" href="{{ asset('css/live-chat.css') }}">

    <main class="main">
        <div  style="z-index: 9999" class="broker_option  live_abs live_abs-active">
            <h2 class="broker_contact_title live_chat"><span  class="users-chat_text_circle"> </span> Live Chat</h2>
            <div class="my-row">

                <div class="users-chat">
                    <p class="users-chat_text">
                        10,040 registered users<br>
                        <span  class="users-chat_text_circle"> </span> 550 users chatting now
                    </p>
                    <a class="chat_close">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="348.333px" height="348.334px" viewBox="0 0 348.333 348.334" style="enable-background:new 0 0 348.333 348.334;"
                             xml:space="preserve">
                     <g>
                         <path fill="#c6c5c5" d="M336.559,68.611L231.016,174.165l105.543,105.549c15.699,15.705,15.699,41.145,0,56.85
                     		c-7.844,7.844-18.128,11.769-28.407,11.769c-10.296,0-20.581-3.919-28.419-11.769L174.167,231.003L68.609,336.563
                     		c-7.843,7.844-18.128,11.769-28.416,11.769c-10.285,0-20.563-3.919-28.413-11.769c-15.699-15.698-15.699-41.139,0-56.85
                     		l105.54-105.549L11.774,68.611c-15.699-15.699-15.699-41.145,0-56.844c15.696-15.687,41.127-15.687,56.829,0l105.563,105.554
                     		L279.721,11.767c15.705-15.687,41.139-15.687,56.832,0C352.258,27.466,352.258,52.912,336.559,68.611z"/>
                     </g>

                     </svg></a>
                </div>
                <div class="users-chat_scroll">
                    <div class="users-chat_cont">
                        <div class="message_cont">
                            <div><img class="message_cont_img" src='{{asset("img/Flags1/france.png")}}' alt="195-france@2x"></div>
                            <div class="message_cont_block">
                                <p class="message_cont_block_name">Jaime Lannister <span class="message_cont_block_time">30m</span></p>
                                <p class="message_cont_block_text">Don’t buy right now!</p>
                                <p class="message_cont_block_reply">Reply</p>
                            </div>
                        </div>
                        <div class="message_cont">
                            <div><img class="message_cont_img" src='{{asset("img/Flags1/uk.png")}}' alt="195-france@2x"></div>
                            <div class="message_cont_block">
                                <p class="message_cont_block_name">Jon Snow <span class="message_cont_block_time">15m</span></p>
                                <p class="message_cont_block_text">Anyone know if its any good?</p>
                                <p class="message_cont_block_reply">Reply</p>
                            </div>
                        </div>
                        <div class="message_cont">
                            <div><img class="message_cont_img" src='{{asset("img/Flags1/uk.png")}}' alt="195-france@2x"></div>
                            <div class="message_cont_block">
                                <p class="message_cont_block_name">White Walker <span class="message_cont_block_time">15m</span></p>
                                <p class="message_cont_block_text"><span class="message_cont_block_text_blue">jonsnow</span> I would say no</p>
                                <p class="message_cont_block_reply">Reply</p>
                            </div>
                        </div>
                        <div class="message_cont">
                            <div><img class="message_cont_img" src='{{asset("img/Flags1/fr.png")}}' alt="195-france@2x"></div>
                            <div class="message_cont_block">
                                <p class="message_cont_block_name">Jeyne Poole <span class="message_cont_block_time">3m</span></p>
                                <p class="message_cont_block_text">I am looking for a good broker</p>
                                <p class="message_cont_block_reply">Reply</p>
                            </div>
                        </div>
                        <div class="message_cont">
                            <div><img class="message_cont_img" src='{{asset("img/Flags1/fr.png")}}' alt="195-france@2x"></div>
                            <div class="message_cont_block">
                                <p class="message_cont_block_name">Jaime Lannister <span class="message_cont_block_time">30m</span></p>
                                <p class="message_cont_block_text">Don’t buy right now!</p>
                                <p class="message_cont_block_reply">Reply</p>
                            </div>
                        </div>
                        <div class="message_cont">
                            <div><img class="message_cont_img" src='{{asset("img/Flags1/fr.png")}}' alt="195-france@2x"></div>
                            <div class="message_cont_block">
                                <p class="message_cont_block_name">Jaime Lannister <span class="message_cont_block_time">30m</span></p>
                                <p class="message_cont_block_text">Don’t buy right now!</p>
                                <p class="message_cont_block_reply">Reply</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="message_post">
                    <input class="message_post-tag" type="text" placeholder="Tag users with @ ">

                    <button class="message_post-btn">POST</button>
                </div>
            </div>
        </div>

    </main>

{#{% endblock %}#}

{#{% block javascripts %}#}
    {#{{ parent() }}#}

    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>


    <script>

        $('.live_chat').click(function () {
            $('.live_abs').toggleClass('live_abs-active');
        });
        $('.chat_close').click(function () {
            $('.live_abs').removeClass('live_abs-active');
        });
    </script>

{#{% endblock %}#}